<div id = "about" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<h4>About Us</h4>
		<p>At Joeysearch, we believe in getting parents and their children out of the house into their community. There are hundreds of fun, kid-friendly spots right outside your door. With Joeysearch, you will be able to discover these local, family-friendly places/businesses/events, share your experiences and learn from others.</p>

		<p>Joeysearch is your local guide to all things kid-friendly and we hope that it will assist you in your next adventure with your child.</p>

		<p>Questions? Comments? Feedback? <br> Please email: info@joeysearch.com</p>
	</div>
</div>