<head> 
  <%= analytics_init if Rails.env.production? %> 
</head>
<% provide(:title, 'About Us') %>
<div class="well widget">
	<!-- widget header -->
	<div class="widget-header">
		<h3 class="title">About Us</h3>
	</div>
	<br>
	<p>At Joeysearch, we believe in getting parents and their children out of the house into their community. There are hundreds of fun, kid-friendly spots right outside your door. With Joeysearch, you will be able to discover these local, family-friendly places/businesses/events, share your experiences and learn from others.</p>
	<br>
	<p>Joeysearch is your local guide to all things kid-friendly and we hope that it will assist you in your next adventure with your child.</p>
	<br>
	<p>Questions? Comments? Feedback? Please email info@joeysearch.com</p>
</div>
