<% provide(:title, 'Feedback') %>
<div class="well widget">
	<!-- widget header -->
	<div class="widget-header">
		<h3 class="title">Feedback</h3>
	</div>
	<br>
	<p>Joeysearch is currently in beta so we probably have a lot of things we need to change, fix or add. If you see something missing, broken or needs tweaking, please don't hesitate to email us.</p>
	<br>
	<p>Questions? Comments? Feedback? Please email: info@joeysearch.com</p>
</div>
