<div id = "help" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<h4>Feedback</h4>
		<p>Joeysearch is currently in beta so we probably have a lot of things we need to change, fix or add. If you see something missing, broken or needs tweaking, please don't hesitate to email us.</p>
		<p>Questions? Comments? Feedback? Please email: info@joeysearch.com</p>
	</div>
</div>