<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>

		<h3>Resend confirmation instructions</h3>

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :'data-ajax' => false }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %>
		  <%= f.email_field :email, autofocus: true %></div>

		  <div><%= f.submit "Resend confirmation instructions" %></div>
		  <br>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
</div>