<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :'data-ajax' => false }) do |f| %>
			<%= render 'shared/error_messages', :target => @user %>

			<% if @user.image.blank? %>
				<%= image_tag('profile-default.png', size: "70x70", alt: "Default Image") %>
			<% else %>
				<%= image_tag(@user.image_url(:thumb).to_s, size: "70x70", alt: "Profile Image") %>
			<% end %>
			<br><br>
			<%= f.label :image, "Update Profile Picture" %>
  			<%= f.file_field :image %>
  			<br>

			<%= f.label :name %>
			<%= f.text_field :name, autofocus: true %>
			
			<%= f.label :email %>
			<%= f.email_field :email %>

			<!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %> -->
				Currently waiting confirmation for: <%= resource.unconfirmed_email %>
			<!-- <% end %> -->

			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
				<%= f.password_field :password, autocomplete: "off" %>

			<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>

				<br>
				<%= f.submit "Update", class: "btn btn-default btn-primary" %>
		<% end %>

	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "mobile/places.mobile" %>

</div>