<% provide(:title, "Edit user") %>
<div class="span6">
	<div class="well widget">
		<div class="widget-header">
			<h3 class="title">Update your profile</h3>
		</div>


		<div class="row">
			<div class="span6">
			<br />
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
					<%= render 'shared/error_messages', :target => @user %>

					<% if @user.image.blank? %>
						<%= image_tag('profile-default.png', size: "100x100", alt: "Default Image") %>
					<% else %>
						<%= image_tag(@user.image_url(:thumb).to_s, size: "100x100", alt: "Profile Image") %>
					<% end %>
					<br><br>
					<%= f.label :image, "Update Profile Picture" %>
          			<%= f.file_field :image %>
          			<br><br>
					<%= f.label :name %>
					<%= f.text_field :name, autofocus: true %>
					
					<%= f.label :email %>
					<%= f.email_field :email %>

					<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
					<% end %>

					<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
						<%= f.password_field :password, autocomplete: "off" %>

					<%= f.label :password_confirmation %>
						<%= f.password_field :password_confirmation, autocomplete: "off" %>

						<br>
						<%= f.submit "Update", class: "btn btn-default btn-primary" %>
				<% end %>

				<%= link_to "Back", :back %>

			</div>
		</div>
</div>

