<% provide(:title, 'Sign up') %>
<div class="span6">
  <div class="well widget">
    <div class="widget-header">
      <h3 class="title">Sign up</h3>
    </div>

    <div class="row">
      <div class="span5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render 'shared/error_messages', :target => @user %>

          <div class="span5 pull-right">
            <br />
      		  <%= link_to image_tag("facebook_login.png", alt: "Sign up with Facebook"), user_omniauth_authorize_path(:facebook), id: "facebooklogin" %>
      	  </div>

          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "input-xlarge" %>

          <%= f.label :email %>
          <%= f.text_field :email, class: "input-xlarge" %>

          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "input-xlarge" %>

          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-xlarge" %>
    	  
    	  <br />
    	  <br />

    	  <%= f.submit "Create Account", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
