<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :'data-ajax' => false }) do |f| %>
	      	<%= link_to image_tag("facebook_login.png", alt: "Sign up with Facebook"), user_omniauth_authorize_path(:facebook), id: "facebooklogin", "data-ajax" => "false" %>

	      	<br><br>

	        <%= f.label :name %>
	        <%= f.text_field :name, autofocus: true, class: "input-xlarge" %>

	        <%= f.label :email %>
	        <%= f.text_field :email, class: "input-xlarge" %>

	        <%= f.label :password %>
	        <%= f.password_field :password, autocomplete: "off", class: "input-xlarge" %>

	        <%= f.label :password_confirmation, "Password Confirmation" %>
	        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-xlarge" %>
	    	  
	    	<br />

	    	<%= f.submit "Create Account", class: "btn btn-primary" %>
        <% end %>
	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
</div>