<!-- <div id="googlemap"></div> -->

<script type="text/javascript">	

  var cookieHelper = (function () {
    return {
      createCookie: function (name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toGMTString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      },
      writeSessionCookie: function (cookieName, cookieValue) {
        document.cookie = cookieName + "=" + cookieValue + "; path=/";
      },
      readCookie: function (name) {
        var nameEq = name + "=";
        var ca = document.cookie.split(';');
        var i;

        for (i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') { c = c.substring(1, c.length); }
          if (c.indexOf(nameEq) === 0) { return c.substring(nameEq.length, c.length); }
        }

        return null;
      },
      deleteCookie: function (name) {
        this.createCookie(name, null, -1);
      },
      testSessionCookieEnabled : function() {
        document.cookie ="testSessionCookie=Enabled";
        if (getCookieValue ("testSessionCookie")=="Enabled")
          return true 
        else
          return false;
      }
    };
  }());

<!--
  //If we are in edit mode (hidden edit label is present), don't show the map and search bar
  //Too complicated to allow user to autopopulate on an edit. Edit should be used to only tweak
  //not totally redo everything. Of course user can do that manually if necessary.
  if (document.getElementById('editViewLabel')) {
    $('div#autopopulate_search').hide();
  }

  var defaultZoom = 11; // Why zoomed in? Because it looks good.
  var lat = cookieHelper.readCookie("users_lat");
  var lon = cookieHelper.readCookie("users_lon");

  // create map and add controls
  if (lat==null || lon==null) {
    // Lat & Long of Seattle
    lat = 47.606209;
    lon = -122.332071;
  }
  var mapOptions = {
    center: new google.maps.LatLng(lat, lon),
    zoom: defaultZoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    scaleControl: false,
    draggable: false
  };
  var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

	// set center point of map to be of the Marker or the Default City
  var centrePoint = new google.maps.LatLng(lat, lon);
  map.setCenter(centrePoint);
  map.setZoom(defaultZoom); 
	
	// add a draggable marker
  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: centrePoint
  });

  var defaultImage = new google.maps.MarkerImage(
      "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
      new google.maps.Size(71, 71),
      new google.maps.Point(0, 0),
      new google.maps.Point(17, 34),
      new google.maps.Size(35, 35));
  marker.setIcon(defaultImage);
	
  google.maps.event.addListener(marker, 'click');
	
	// create Info window for marker
  var infowindow = new google.maps.InfoWindow();
  
  // Address Autocomplete
  var input = document.getElementById('location_search');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

	// add a drag listener to the map
	google.maps.event.addListener(marker, "dragend", function() {
		var point = marker.getPosition();
		map.panTo(point);
		//document.getElementById("location_lat").value = point.lat();
		//document.getElementById("location_lng").value = point.lng();
		infowindow.close();
    marker.setIcon(defaultImage);
  });
  var place;
  var photos;

  // Autocomplete Listener
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    place = autocomplete.getPlace();
    marker.setPosition(place.geometry.location);
    map.panTo(place.geometry.location);
    map.setZoom(16);

		// Sets the proper image on the marker. ie. school/hospital marker
		var image = new google.maps.MarkerImage(
        place.icon,
        new google.maps.Size(71, 71),
        new google.maps.Point(0, 0),
        new google.maps.Point(17, 34),
        new google.maps.Size(35, 35));
    marker.setIcon(image);
    marker.setPosition(place.geometry.location);

    var address = '';
    if (place.address_components) {
      address = [(place.address_components[0] &&
                  place.address_components[0].short_name || ''),
                 (place.address_components[1] &&
                  place.address_components[1].short_name || ''),
                 (place.address_components[2] &&
                  place.address_components[2].short_name || '')
                ].join(' ');
    }

    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);

    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };

    var form = new Object();

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        componentForm[addressType] = val;
      }
    }

    if (place.name) {
      document.getElementById("event_suggestion_location_name").value = place.name;
    } else {
      document.getElementById("event_suggestion_location_name").value = "";
    }

    if (componentForm['postal_code'] != 'short_name'){
      document.getElementById("event_suggestion_zip_code").value = componentForm['postal_code'];
    } else {
      document.getElementById("event_suggestion_zip_code").value = "";
    }

    if (componentForm['locality'] != 'long_name') {
      document.getElementById("event_suggestion_city").value = componentForm['locality'];
    } else {
      document.getElementById("event_suggestion_city").value = "";
    }

    if (componentForm['street_number'] != 'short_name' || componentForm['route'] != 'long_name') {
      if (componentForm['street_number'] == 'short_name')
        document.getElementById("event_suggestion_street").value = componentForm['route'];
      else
        document.getElementById("event_suggestion_street").value = componentForm['street_number'] + ' ' + componentForm['route'];
    } else {
      document.getElementById("event_suggestion_street").value = "";
    }

    if (componentForm['administrative_area_level_1'] != 'short_name') {
      document.getElementById("event_suggestion_state").value = componentForm['administrative_area_level_1'];
    } else {
      document.getElementById("event_suggestion_state").value = "";
    }

    if (place.formatted_phone_number) {
      document.getElementById("event_suggestion_phone_num").value = place.formatted_phone_number;
    } else {
      document.getElementById("event_suggestion_phone_num").value = "";
    }

    //For JQuery mobile, on select elements, a refresh is necessary after a programmatic manipulation
    //TODO: This needs to somehow be a mobile only call
    $('#event_suggestion_state').selectmenu("refresh", true);
  });

//-->
</script>

<br />