<% provide(:title, 'Submit a Kid-Friendly Joeysearch Event') %>

<div class="well widget">
  <!-- widget header -->
  <div class="widget-header">
    <h3 class="title">Event Information</h3>
  </div>

  <div class="control-group" id="autopopulate_search">
    <%= label_tag :search, "Search Event location to autopopulate information" %>
    <%= text_field_tag :location_search, nil, class: "span6", type: "text", :placeholder => "Enter a place name or location" %>
    <div id="googlemap"></div>
    <%= render partial: "googlemap" %>
  </div>

<%= form_for(@event_suggestion) do |f| %>
    <%= render 'shared/error_messages', :target => @event_suggestion %>
    <div>
      <%= f.label :name, "Event Name" %>
      <%= f.text_field :name, :placeholder => "e.g. Woodland Park Zoo", class: "input-xlarge" %>
    </div>

    <div>
      <%= f.label "Description (optional)" %>
      <%= f.text_area :description,  class: "input-xxlarge", rows: "5"%>
    </div>

    <div class="row-fluid">
       <div class="span3">   
          <%= f.label :when %>
          <%= f.text_field :when, :placeholder => "e.g. First Thursday of Every Month", class: "input-large" %>
      </div>
    </div>
    <div class="row-fluid">
       <div class="span3">   
          <%= f.label :Ages %>
          <%= f.text_field :age, :placeholder => "e.g. 2-5 years old", class: "input-medium" %>
      </div>
    </div>

    <div class="row-fluid">
       <div class="span3">   
          <%= f.label :Price %>
          <%= f.text_field :price, :placeholder => "e.g. $5 per child", class: "input-medium" %>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span3">
         <%= f.label :location_name %>
         <%= f.text_field :location_name, :placeholder => "e.g. Woodland Park Zoo", class: "input-large" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
          <%= f.label :"Street" %>
          <%= f.text_field :street, :placeholder => "e.g. 601 N 59th St", class: "input-xlarge" %>
      </div>
      <div class="span3">
        <%= f.label :"City" %>
        <%= f.text_field :city, :placeholder => "e.g. Seattle", class: "input-medium" %>
      </div>
      <div class="span3">
        <%= f.label :"State" %>
        <%= f.select :state, options_for_select(us_states, @event_suggestion.state), :include_blank => "Select One"  %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <%= f.label :"Zip Code" %>
          <%= f.text_field :zip_code, :placeholder => "e.g. 98103", class: "input-medium"%>
      </div>
      <div class="span3">
          <%= f.label "Phone Number (optional)" %>
          <%= f.text_field :phone_num, :placeholder => "e.g. (206) 123-456", class: "input-medium" %>
        </div>
        <div class="span3">
          <%= f.label "Website (optional)" %>
          <%= f.text_field :website, :placeholder => "e.g. http://www.example.com", class: "input-large" %>
        </div>
        <br /><br />
    </div>
    <div class="row-fluid">
      <%= f.label "Start Date:" %>
      <%= f.text_field :start_date, class: "event_date" %>
      <%= f.label "End Date (Leave blank if indefnite):" %>
      <%= f.text_field :end_date, class: "event_date" %>
    </div>

    <%= f.submit "Submit Event", class: "btn  btn-primary"%>
  <% end %>
</div>