<% provide(:title, "Edit user") %>
<div class="span6">
  <div class="well widget">
    <div class="widget-header">
      <h3 class="title">Update your profile</h3>
    </div>

    <div class="row">
      <div class="span6">
      	<br />
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :target => @user %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
          
          <br />
          <br />

          <%= f.submit "Save changes", class: "btn btn-default btn-primary" %>
        <% end %>

      </div>
    </div>
</div>