<% provide(:title, 'Sign up') %>
<div class="span6">
  <div class="well widget">
    <div class="widget-header">
      <h3 class="title">Sign up</h3>
    </div>

    <div class="row">
      <div class="span5">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :target => @user %>

          <div class="span5 pull-right">
      		  <%= link_to image_tag("facebookbutton.png", alt: "Facebook"), "/auth/facebook", id: "facebooklogin" %>
      	  </div>

          <%= f.label :name %>
          <%= f.text_field :name, class: "input-xlarge" %>

          <%= f.label :email %>
          <%= f.text_field :email, class: "input-xlarge" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "input-xlarge" %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: "input-xlarge" %>
    	  
    	  <br />
    	  <br />

    	  <%= f.submit "Create Account", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
