<% provide(:title, name_format(@user.name)) %>

		<div class="span4">
			<div class="well widget">
				<div class="widget-header">
					<h2 class="title"><%= name_format(@user.name) %></h2>
				</div>
				<br>
					<div class="row">
						<center>
							<% if @user.image.blank? %>
								<%= image_tag('profile-default.png', size: "100x100", alt: "Default Image") %>
							<% else %>
								<%= image_tag(@user.image_url(:thumb).to_s, size: "100x100", alt: "Profile Image") %>
							<% end %>
							<br><br>
							<div class="large text-warning">
			                    <h1><%= @user.reviews.count %></h1>
			                </div>
			                <label class="muted">Reviews</label>
							<br />
							<% if current_user && (@user.id == current_user.id) %>
								<%= link_to "Update Profile", edit_user_registration_path(current_user) %>
							<% end %>
						</center>
					</div>
				</div>
				
				<br />
			</div>

	<div class="span7">
	    <% if @user.reviews.any? %>
			<ol class="reviews">
			<%= render @reviews, :locals => { :userreview => @userreview=true } %>
			</ol>
	      <%= will_paginate @reviews, :class => 'pagination pagination-info pagination-small'  %>
	    <% else %>
	    	<center>
	    	<b><%= name_format(@user.name) %></b>
	    	<b> has no reviews </b>
	    	</center>
	    <% end %>
	  </div>
</div>