<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<ul data-role="listview" data-inset="false">
			<li>
				<% if @user.image.blank? %>
					<%= image_tag('profile-default.png', size: "70x70", alt: "Default Image") %>
				<% else %>
					<%= image_tag(@user.image_url(:thumb).to_s, size: "70x70", alt: "Profile Image") %>
				<% end %>
				<h3><%= name_format(@user.name) %></h3>
				
				<br><br>
			</li>
			<% if current_user && (@user.id == current_user.id) %>
				<%= link_to "Update Profile", edit_user_registration_path(current_user), :class => "ui-btn ui-btn-inline ui-icon-edit ui-btn-icon-left", "data-ajax" => "false" %>
			<% end %>
		</ul>
		<br><br>
		<ul data-role="listview" data-inset="false">
			<li data-role="list-divider"><%= pluralize(@user.reviews.count, 'Review') %></li>
			<% if @user.reviews.any? %>	    
					<%= render @reviews, :locals => { :userreview => @userreview=true } %>
			<% else %>
			<li>
				<center>
				<b><%= name_format(@user.name) %></b>
				<b> has no reviews </b>
				</center>
			</li>
			<% end %>
		</ul>
		<br>
		<%= will_paginate @reviews, 
		    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
		    previous_label: 'Prev',
		    next_label: 'Next'
		  %>
		<br>

		<br>
		<center>
 			<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
 		</center>
	</div>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "mobile/places.mobile" %>
</div>