<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<h3>Change your password</h3>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :'data-ajax' => false }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <div><%= f.label :password, "New password" %>
		    <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>
		  <br>
		  <div><%= f.label :password_confirmation, "Confirm new password" %>
		    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
		  <br>
		  <div><%= f.submit "Change my password" %></div>
		  <br>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
</div>