<h2>Reset Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>
  <div><%= f.submit "Send me reset password instructions", class: "btn btn-default btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
