<% if target.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(target.errors.count, "error") %> :
    </div>
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li>☼ <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>