<% if target.errors.any? %>
  <div data-role="collapsible" data-inset="false" data-collapsed="false">
    <h4>
      <p>The form contains <%= pluralize(target.errors.count, "error") %> :</p>
    </h4>
    <% target.errors.full_messages.each do |msg| %>
      <font color="red"><p>☼ <%= msg %></p></font>
    <% end %>
  </div>
<% end %>