<%= button_tag "Change Location", class: "changelocationbutton btn-link"%>
<div class="row-fluid" id="locationform">
	<%= form_tag root_path, method: 'get' do %>
	  <%= text_field_tag :location, params[:location], class: "search-query span3", placeholder: "Enter Location" %>
	  <%= button_tag("Go", type: "submit") %>
	<% end %>
</div>
<script>
	$('#location').val('');
</script>