<a href="#" id="getCurrentLocation" data-role="button" data-inline="true" data-icon="star">Current Location</a>
<%= form_tag root_path, method: 'get', 'data-ajax' => 'false', id: "location_form" do %>
  <%= text_field_tag :location, params[:location], placeholder: "Enter Location" %>
  <%= button_tag("Submit", type: "submit", "data-inline" => "true", "data-role" => "button") %>
<% end %>

<script>
  jQuery(function() {
    $('#location').val('');
    
    $( document ).on( "click", "#getCurrentLocation", function() {
      currentLocation();
    });

    function successFunction(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        $('#location').val(lat + ', ' + lon);
        $( "#location_form" ).submit();
    }

    function errorFunction(error) {
          switch (error.code) {
          case error.PERMISSION_DENIED:
              alert("Joeysearch was not allowed to use your current location");
              break;

          case error.POSITION_UNAVAILABLE:
              alert("Joeysearch could not find your current location");
              break;

          case error.TIMEOUT:
              alert("Joeysearch timed out retrieving your current location");
              break;

          case error.UNKNOWN_ERROR:
              alert("Joeysearch encountered an unknown error while retrieving your current location");
              break;
          }
          return;
      }

      function currentLocation() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successFunction, errorFunction)
      }
      }
  });
</script>