<% meta og: 
  { 
    title: "Joeysearch", description: "Joeysearch is your local guide to all things kid-friendly!", url: "http://www.joeysearch.com/", image: 'http://www.joeysearch.com/assets/joeysearch_facebook.png'
  } 
%>

<div id="home" data-role="page">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <%= render 'layouts/flash_message' %>
    <div data-role="collapsible" data-collapsed-icon="carat-d">
        <h4><font color=#005580> Joeysearch: <%= @users_city %></h4>
        <p><%= render "locationform" %></p>
    </div>
    <br>
    
    <ul data-role="listview" data-inset="false">
      <li data-role="list-divider">
        Nearby Joey Spots
      </li>
      <% if @current_city_places.empty? %>
        There are no nearby places for your location
      <% end %>
      <% @current_city_places.each_with_index do |place, index| %>
        <li>
          <%= link_to place, "data-ajax" => "false" do %>
            <% if place.photos[0] %>
              <%= image_tag(place.photos[0].image_url(:thumb).to_s, size: "70x70")  %>
            <% else %>
              <%# Adding 1 since index starts with 0 %>
              <%= image_tag('thumbnail-default.jpg', size: "70x70", alt: "Default Image") %>
            <% end %>
            <%= index+1 %>
              <%= ". " %><%= place.name %>
              <div id="mobile_home_review_value" >
                <%= content_tag "div", id: "review_value", data: {rating: place.rating} do %>
                  <div id="star_value"></div> 
                <% end %>
              </div>
              <font size='1'>Kid-Friendly Rating</font>
              <font size='1'>(<%= pluralize(place.reviews.count, 'Review') %>)</font><br>
              <% if place.votes > 0 %>
                <small><%= image_tag('heart.png', id: 'like_result', size: '15x15') %>&nbsp <%= place.votes %></small><br>
              <% end %>
              <small><font size='2' color = "gray"> <%= Category.find(place.category_id).name %> </font></small>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "More . . .", places_path(:name => "", :near => ""), 'data-ajax' => 'false' %>
      </li>
      <li>
        <center>
            <%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 90%; height: 300px; max-width: 400px', data: { coords: @map_coords_hash.to_json} do %>
          <% end %>
        </center>
      </li>
    </ul>
    <br>
    <br>
    <ul data-role="listview">
      <li data-role="list-divider">
        Search By Category
      </li>
      <li>
        <%= link_to "Parks,Playgrounds,Beaches,Hikes", places_path(:category_id => 1), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Restaurants and Cafes", places_path(:category_id => 3), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Museums,Aquariums,Zoos,Farms", places_path(:category_id => 2), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Pools, Recreation/Community Centers", places_path(:category_id => 4), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Indoor Activity Center", places_path(:category_id => 15), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Theaters", places_path(:category_id => 5), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Schools and Day Cares", places_path(:category_id => 9), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Retail/Grocery Stores, Malls", places_path(:category_id => 8), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Dentists, Physicians and Health", places_path(:category_id => 10), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Amusement Parks", places_path(:category_id => 11), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Hotel and Accommodations", places_path(:category_id => 12), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Libraries and Book Stores", places_path(:category_id => 17), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Attractions", places_path(:category_id => 13), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Salons and Barber Shops", places_path(:category_id => 16), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Classes,Lessons,Leagues,Camps", places_path(:category_id => 6), 'data-ajax' => 'false' %>
      </li>
      <li>
        <%= link_to "Events", events_path, 'data-ajax' => 'false' %>
      </li>
    </ul>
    <br>
  </div>
  <br>
  <center>
    <%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
  </center>

  <%= javascript_include_tag "mobile/mobile" %>
  <%= javascript_include_tag "mobile/maps_results.mobile" %>
  <%= javascript_include_tag "mobile/places.mobile" %>

</div>
