<head> 
  <%= analytics_init if Rails.env.production? %> 
</head>
<% meta og: 
  { 
    title: "Joeysearch", description: "Joeysearch is your local guide to all things kid-friendly!", url: "http://www.joeysearch.com/", image: 'http://www.joeysearch.com/assets/joeysearch_facebook.png'
  } 
%>
<% unless user_signed_in? %>
  <div class="well bg-d widget" id="headerbox">
    <div class="row-fluid">
      <div class="span9">
        <h3><font color=#005580>Joeysearch is your local guide to all things kid-friendly!</font></h3>
      </div>
      <div class="span3" id="headerlogobox">
        <%= image_tag("joeybanner.png", alt: "Joey Search") %>
      </div>
    </div>
    <div class="span6" id="headerboxbuttonbox">
      <%= link_to 'Create your free account', new_user_registration_path, :class => "btn btn-info" %>
    </div>
  </div>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <h4><font color=#005580> Joeysearch: <%= @users_city %> </font></h4>
    <%= render "locationform" %>
  </div>
</div>
<br>
<%= form_tag places_path, method: 'get' do %>
  Search By Category:
  <%= collection_select :category_id, params[:category_id], Category.order(:name), :id, :name, :include_blank => "Select Category", class: "category_search" %>
  <%= button_tag("Go", type: "submit", "id" => "category_search_button", class: "btn btn-info") do %>
    <i class="micon-search"></i>
  <% end %>
<% end %>
<div class="row-fluid">
  <div class="span6">    
    <table class="table">
      <tbody>
        <% @current_city_places.each_with_index do |place, index| %>
          <tr>
            <td>
              <div class="result_div">
                <% if place.photos[0] %>
                  <%= link_to(image_tag(place.photos[0].image_url(:thumb).to_s, size: "100x100"), place)  %>
                <% else %>
                  <%# Adding 1 since index starts with 0 %>
                  <!--[if lte IE 9]>
                    <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
                  <![endif]-->
                  <![if (gt IE 9) | !(IE)]>
                     <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
                  <![endif]>
                <% end %>
              </div>
            </td>
            <td><%= index+1 %><%= ". " %><%= link_to place.name, place, 'data-no-turbolink' => true %>
              <br><%= Category.find(place.category_id).name %> 
            </td>
            <td>
              <%= content_tag "div", id: "review_value", data: {rating: place.rating} do %>  
                <div id="star_value"></div> 
              <% end %>
              <font size='1'>Kid-Friendly Rating</font><br>
              <small><%= pluralize(place.reviews.count, 'Review') %></small><br>
              <% if place.votes > 0 %>
                <small><%= pluralize(place.votes, 'Like!')%></small>
              <% end %>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
          <%= link_to "More Nearby Joey Spots . . .", places_path(:name => "", :near => "") %>
  </div>
	<div class="span6" id="home_map">
    <%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 100%; height: 600px;', data: { coords: @map_coords_hash.to_json} do %>
    <% end %>
  </div>
</div>

<br><br><br>

<div class="well widget">
  <!-- widget header -->
  <div class="widget-header">
    <h3 class="title">Featured Joey Spots</h3>
  </div>
  <!-- ./ widget header -->
  <br>
  <div class="row-fluid">
    <div class="span3" align="center">
      <% if @featured_places[0]%>
        <div class="cube">
          <% if @featured_places[0].photos[0] %>
            <%= link_to(image_tag(@featured_places[0].photos[0].image_url(:thumb).to_s, size: "100x100"), @featured_places[0]) %>
          <% else %>
              <!--[if lte IE 9]>
                <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
              <![endif]-->
              <![if (gt IE 9) | !(IE)]>
                 <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
              <![endif]>
          <% end %>
        </div>
        <br>
        <%= link_to @featured_places[0].name, @featured_places[0], 'data-no-turbolink' => true %><br>
        <%= content_tag "div", id: "review_value", data: {rating: @featured_places[0].rating} do %>  
            <div id="star_value"></div> 
        <% end %>
      <% end %>
    </div>
    <div class="span3" align="center">
      <% if @featured_places[1] %>
        <div class="cube">
          <% if @featured_places[1].photos[0] %>
            <%= link_to(image_tag(@featured_places[1].photos[0].image_url(:thumb).to_s, size: "100x100"), @featured_places[1]) %>
          <% else %>
              <!--[if lte IE 9]>
                <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
              <![endif]-->
              <![if (gt IE 9) | !(IE)]>
                 <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
              <![endif]>
          <% end %>
        </div>
        <br>
        <%= link_to @featured_places[1].name, @featured_places[1], 'data-no-turbolink' => true %><br>
        <%= content_tag "div", id: "review_value", data: {rating: @featured_places[1].rating} do %>  
            <div id="star_value"></div> 
        <% end %>
      <% end %>
    </div>
    <div class="span3" align="center">
      <% if @featured_places[2] %>
        <div class="cube">
          <% if @featured_places[2].photos[0] %>
            <%= link_to(image_tag(@featured_places[2].photos[0].image_url(:thumb).to_s, size: "100x100"), @featured_places[2]) %>
          <% else %>
              <!--[if lte IE 9]>
                <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
              <![endif]-->
              <![if (gt IE 9) | !(IE)]>
                 <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
              <![endif]>
          <% end %>
        </div>
        <br>
        <%= link_to @featured_places[2].name, @featured_places[2], 'data-no-turbolink' => true %><br>
        <%= content_tag "div", id: "review_value", data: {rating: @featured_places[2].rating} do %>  
            <div id="star_value"></div> 
        <% end %>
      <% end %>
    </div>
    <div class="span3" align="center">
      <% if @featured_places[3] %>
        <div class="cube">
          <% if @featured_places[3].photos[0] %>
            <%= link_to(image_tag(@featured_places[3].photos[0].image_url(:thumb).to_s, size: "100x100"), @featured_places[3]) %>
          <% else %>
              <!--[if lte IE 9]>
                <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
              <![endif]-->
              <![if (gt IE 9) | !(IE)]>
                 <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
              <![endif]>
          <% end %>
        </div>
        <br>
        <%= link_to @featured_places[3].name, @featured_places[3], 'data-no-turbolink' => true %><br>
        <%= content_tag "div", id: "review_value", data: {rating: @featured_places[3].rating} do %>  
            <div id="star_value"></div> 
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
</div>

<br><br><br>

<div class="row-fluid">
  <div class="span4">
    <div class="well widget">
      <!-- widget header -->
      <div class="widget-header">
        <h3 class="title">Today's Events</h3>
      </div>
        <% if @upcoming_events.blank? %>
          There are no events in your area.
          <br><br>
        <% else %>
          <% @upcoming_events.first(7).each do |event| %>
            <div class="row-fluid">
              <div class="span2" id="event_line">
                <% unless event.image.blank? %>
                  <%= image_tag(event.image_url.to_s, id: "event_image") %>
                <% else %>
                  <%# Adding 1 since index starts with 0 %>
                  <%= image_tag('thumbnail-default.jpg', alt: "Default Image") %>
                <% end %>
              </div>
              <div class="span6" id="event_line">
                <%= link_to event.name, event, 'data-no-turbolink' => true %>
              </div>
              <div class="span4" id="event_line" align="right">
                <%= event.city %>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
        <%= link_to "Full Events Calendar . . .", events_path %>
    </div>
  </div>
  <div class="span4">
    <div class="well widget">
      <div class="widget-header">
        <h3 class="title">Latest Reviews</h3>
      </div>
      <% @latest_reviews.each do |review| %>
        <div class="row-fluid">
        <div class="span2">
          <% if !review.user.image.blank? %>
            <%= link_to(image_tag(review.user.image_url(:thumb).to_s, size:"80x80"), review.user) %>
          <% else %>
            <%= image_tag('profile-default.png', size: "80x80", alt: "Default Image") %>
          <% end %>
        </div>
        <div class="span10">
          <%= link_to name_format(User.find(review.user_id).name), user_path(User.find(review.user_id).slug) %>
          reviewed 
          <%= link_to review.place.name, review.place, 'data-no-turbolink' => true %>
          <%= time_ago_in_words(review.created_at) %> ago
          <%= content_tag "div", id: "review_value", data: {rating: review.place.rating} do %>  
            <div id="star_value"></div> 
          <% end %>
        </div>
      </div>
        <br>
      <% end %>
    </div>
  </div>

 

  <div class="span4">
    <div class="well widget">
      <div class="widget-header">
        <h3 class="title">Recently Added Joey Spots</h3>
      </div>
    	<% @latest_places.each do |place| %>
        <div class="row-fluid">
          <div class="span3">
            <% if place.photos[0] %>
              <%= link_to(image_tag(place.photos[0].image_url(:thumb).to_s), place, size:"50x50")  %>
            <% else %>
              <%# Adding 1 since index starts with 0 %>
              <%= image_tag('thumbnail-default.jpg', size: "80x80", alt: "Default Image") %>
            <% end %>
          </div>
          <div class="span8">
        		<%= link_to place.name, place, 'data-no-turbolink' => true %><br>
            <small><%= Category.find(place.category_id).name %></small>
      	    <%= content_tag "div", id: "review_value", data: {rating: place.rating} do %>  
            <div id="star_value"></div> 
          </div>
        </div>
  	    <% end %>
    		<br>
    	<% end %>
    </div>
  </div>

</div>
