<div class="row">
		<div class="span12">
			<br>
			<%= f.label "Recurrence Schedule" %>
			<br>
			<%= f.label "Occurs:" %>
			<%= f.collection_select :recurrence_id, Recurrence.order(:id), :id, :name, include_blank: true, class: "cselect" %>
			<br>
			Weekly
			<%= f.label "On:" %>
			<%= f.select :weekly_day, eventDaysOfTheWeek, include_blank: true %>
			<br>
			<br>
			Monthly
			<br>
			<%= f.label "Monthly Recurrence Schedule:" %>
			<%= f.select(:monthly_type, options_for_select(Array[*eventMonthRecurrenceType.collect {|v,i| [v,eventMonthRecurrenceType.index(v)] }]),  include_blank: true) %>
			<br>
			This event occurs on the&nbsp<%= f.select :monthly_week_num, numWeeksInAMonth,  include_blank: true %><%= f.select :monthly_day, eventDaysOfTheWeek,  include_blank: true %>&nbspof the month.
			<br>
			This event occurs on the&nbsp<%= f.select :monthly_date, eventDaysOfTheMonth,  include_blank: true %>&nbspof every month.

		</div>

</div>