<%= link_to event_obj.name, event_obj, style:'font-weight: bold;', 'data-no-turbolink' => true %>

<p>
	<%= event_obj.street %> <br>
	<%= "#{event_obj.city}, #{event_obj.state} - #{event_obj.zip_code}" %>
</p>

<p>
	<% address = "#{event_obj.street} #{event_obj.city}, #{event_obj.state} - #{event_obj.zip_code}" %>
	<%= link_to "Directions", "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %>
</p>