<% if @events.first != nil %>
  <% if @events.first.image != nil %>
    <% meta og: {
          title: "Joeysearch: Seattle Kid-Friendly Events for " + @date.strftime('%A, %B %-d'),
          description: "Seattle area kid-friendly events that parents and kids will love!",
          image: @events.first.image_url(:thumb).to_s
        }
    %>
  <% else %>
    <% meta og: {
          title: "Joeysearch: Seattle Kid-Friendly Events for " + @date.strftime('%A, %B %-d'),
          description: "Seattle area kid-friendly events that parents and kids will love!",
        }
    %>
  <% end %>
<% end %>

<div id="calendar" class="span6">
  <%= week_calendar do |date| %>
    <%= link_to date.strftime('%d'), events_path(:date => date, :start_date => date) %>
  <% end %>
</div>

<br>
<br>

<div><%= link_to 'Submit an Event', new_event_suggestion_path, :class => "btn-small btn-info" %></div>
<br>
<h4><%= @date.strftime('%A, %B %-d') %></h4>

<div class="row-fluid">
  <div class="span12">
    <table class="table">
      <thead>
      </thead>
        <tbody>
          <%= "No events scheduled in your area" if @events.blank? %>
          <% @events.each_with_index do |event| %>
            <tr> 
            <td>
              <div class="span2 event_result">
                <% if event.image.blank? %>
                  <!--[if lte IE 9]>
                    <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
                  <![endif]-->
                  <![if (gt IE 9) | !(IE)]>
                     <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
                  <![endif]>
                <% else %>
                  <%= image_tag(event.image_url(:thumb).to_s, size: "100x100", alt: "Profile Image") %>
                <% end %>
              </div>
              <div class = "span2">
                <%= link_to event.name, event, 'data-no-turbolink' => true %>
              </div>  
              <div class = "span3">
                <%= event.street %>
                  <br><%= event.city %>, <%= event.state %> - <%= event.zip_code %> 
                  <br><%= number_to_phone event.phone_num, area_code: true %>
              </div>
              <div class = "span5">
                <% str = truncate(event.description, :length => 160, :separator => ' ') %>
                <%= str %>
              </div>
            </td>
            </tr> 
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @events, :class => 'pagination pagination-info pagination-small'  %>
    </div>
</div>
