<% if @events.first != nil %>
  <% if @events.first.image != nil %>
    <% meta og: {
          title: "Joeysearch: Seattle Kid-Friendly Events for " + @date.strftime('%A, %B %-d'),
          description: "Seattle area kid-friendly events that parents and kids will love!",
          image: @events.first.image_url(:thumb).to_s
        }
    %>
  <% else %>
    <% meta og: {
          title: "Joeysearch: Seattle Kid-Friendly Events for " + @date.strftime('%A, %B %-d'),
          description: "Seattle area kid-friendly events that parents and kids will love!",
        }
    %>
  <% end %>
<% end %>

<div id = "show" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<ul data-role="listview" id="calendar">
			<li>
			  	<%= week_calendar do |date| %>
			    	<%= link_to date.strftime('%d'), events_path(:date => date, :start_date => date), "data-ajax" => "false" %>
				<% end %>
			</li>
			<h4><%= @date.strftime('%A, %B %-d') %></h4>
		</ul>
		<ul data-role="listview" data-inset="false">
			<% if @events.empty? %>
				<li>
					<%= "No events scheduled in your area" %>
				</li>
			<% else %>
				<% @events.each_with_index do |event| %>
					<li>
					  <%= link_to event, "data-ajax" => "false" do %>
					    <% if event.image.blank? %>
					      <%= image_tag('thumbnail-default.jpg', size: "70x70", alt: "Default Image") %>
					    <% else %>
					      <%= image_tag(event.image_url(:thumb).to_s, size: "70x70")  %>
					    <% end %>
					    <%= event.name %><br>
					    <p><font style="white-space:normal">
					    <% str = truncate(event.description, :length => 96, :separator => ' ') %>
					    <%= str %>
					    </font><p>
					  <% end %>
					</li>
				<% end %>
        	<% end %> 
        	<li>
				<%= will_paginate @places, 
			    	renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
			    	previous_label: 'Prev',
			    	next_label: 'Next'
			  	%>
			</li>
		</ul>
	</div>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
	<!-- Used for parameter passing from controller to javascript -->
	<%= include_gon %>
	<%= javascript_include_tag "jquery_ujs" %>
	<script>
	$(function(){
	  $(".ui-link").attr("rel","external");
	});
	</script>
</div>