<!-- Removing possible apostrophe's from the title --> 
<% str = @event.name %>
<% str = str.tr(%q{''}, '') %>
<% provide(:title, str) %>
<% if @event.image != nil %>
  <% meta og: {
      title: str,
      description: @event.description,
      image: @event.image_url(:thumb).to_s
    }
  %>
<% else %>
  <% meta og: {
      title: str,
      description: @event.description,
    }
  %>
<% end %>
<div id = "show" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<ul data-role="listview" data-inset="false">
		    <li>
		    	<h2><%= @event.name %></h2>
			</li>
			<% unless @event.description.blank? %>
				<li>
					<font style="white-space:normal; font-size: small" >
			        	<%= @event.description %>
			    	</font>
				</li>
			<% end %>
			<% unless @event.when.blank? %>
				<li>
					<strong>When:</strong>
					<%= @event.when %>
				</li>
			<% end %>
			<% unless @event.age.blank? %>
				<li>
					<strong>Ages:</strong>
					<%= @event.age %>
				</li>
			<% end %>
			<% unless @event.price.blank? %>
				<li>
					<strong>Cost:</strong>
					<%= @event.price %>
				</li>
			<% end %>
			<% unless @event.image.blank? %>
				<li>
					<center>
						<%= image_tag(@event.image_url.to_s, style: 'width: 80%; max-width: 200px') %>
					</center>
				</li>
			<% end %>
			<li>
				<small><%= @event.street %>, <%= @event.city %>, <%= @event.state %> <%= @event.zip_code %></small>
			</li>
		    <li>
		    	<center>
			    	<%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 90%; height: 200px; max-width: 400px', data: { coords: @map_coords_hash.to_json} do %>
					<% end %>
				</center>
			</li>
			<li>
				<% address = "#{@event.street}, #{@event.city}, #{@event.state} - #{@event.zip_code}" %>
        		<strong><%= link_to "Directions", "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %></strong>
			</li>
			<% unless @event.phone_num.blank? %>
				<li>
					<strong><%= number_to_phone @event.phone_num, area_code: true %></strong>
				</li>
			<% end %>
			<% unless @event.website.blank? %>
				<li>
					<strong><%= link_to "Website", @event.website, target: '_blank' %></strong>
				</li>
			<% end %>
		</ul>
       	<br>
		<center>
 			<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
 		</center>
	</div>

	<%= javascript_include_tag "mobile/mobile" %>
	<%= javascript_include_tag "mobile/maps.mobile" %>
	<%= javascript_include_tag "mobile/places.mobile" %>
</div>
