<!-- Removing possible apostrophe's from the title --> 
<% str = @event.name %>
<% str = str.tr(%q{''}, '') %>
<% provide(:title, str) %>
<% if @event.image != nil %>
  <% meta og: {
      title: str,
      description: @event.description,
      image: @event.image_url(:thumb).to_s
    }
  %>
<% else %>
  <% meta og: {
      title: str,
      description: @event.description,
    }
  %>
<% end %>
<div class="row">
  <div class="pull-right" >
    <%= content_tag "div", class: 'google-maps', id: "map", data: { coords: @map_coords_hash.to_json} do %>
     <% end %><br>
    <% unless @event.image.blank? %>
      <%= image_tag(@event.image_url.to_s, id: "event_image", alt: "Event Image") %>
    <% end %>
  </div>
  <div class="span6">
    <!--  --> 
    <h3><%= @event.name %></h3>

    <% unless @event.description.blank? %>
      <p>
        <strong>Description:</strong>
        <br>
        <%= simple_format(@event.description) %>
      </p>
      <br>
    <% end %>
    <% unless @event.when.blank? %>
      <p>
        <strong>When:</strong>
        <%= @event.when %>
      </p>
    <% end %>
    <% unless @event.age.blank? %>
      <p>
        <strong>Ages:</strong>
        <%= @event.age %>
      </p>
    <% end %>
    <% unless @event.price.blank? %>
      <p>
        <strong>Cost:</strong>
        <%= @event.price %>
      </p>
    <% end %>
    <p>
      <br>
      <strong>Address:</strong><br>
      <% if @event.location_name.blank? %>
        <% address_str = "#{h@event.street}<br>#{h@event.city}, #{h@event.state} - #{h@event.zip_code}".html_safe %>
      <% else %>
        <% address_str = "#{h@event.location_name}<br>#{h@event.street}<br>#{h@event.city}, #{h@event.state} - #{h@event.zip_code}".html_safe %>
      <% end %>
      <% address = "#{@event.street}, #{@event.city}, #{@event.state} - #{@event.zip_code}" %>
      <%= link_to address_str, "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %>
    </p>
    <% unless @event.phone_num.blank? %>
      <p>
        <strong>Phone:</strong>
        <%= number_to_phone @event.phone_num, area_code: true %>
      </p>
    <% end %>
    <% unless @event.website.blank? %>
      <p>
        <strong>Website:</strong>
        <%= link_to @event.website, @event.website, target: '_blank' %>
      </p>
    <% end %>
  </div>
</div>

<%= link_to 'Back', events_path %>
