<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<h3><%= "Android Beta Testing Sign Up" %></h3>
        <%= form_for(@android_beta_tester, :html => { :'data-ajax' => false }) do |f| %>
        	<%= render 'shared/error_messages', :target => @android_beta_tester %>
        	<br>
	        <%= f.label :name %>
	        <%= f.text_field :name, autofocus: true, class: "input-xlarge" %>

	        <%= f.label :email %>
	        <%= f.text_field :email, class: "input-xlarge" %>
	    	  
	    	<br />

	    	<%= f.submit "Sign Up", class: "btn btn-primary" %>
        <% end %>
	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
</div>