<div class="span6">
  <div class="well widget">
    <div class="widget-header">
      <h3 class="title">Android Beta Testing Sign Up</h3>
    </div>

    <div class="row">
      <div class="span5">
        <%= form_for(@android_beta_tester) do |f| %>
          <%= render 'shared/error_messages', :target => @android_beta_tester %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "input-xlarge" %>

          <%= f.label :email %>
          <%= f.text_field :email, class: "input-xlarge" %>
        
        <br />
        <br />

        <%= f.submit "Sign Up", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>