<% meta og: 
  { 
    title: "Joeysearch Android Beta Sign Up", description: "Sign up here to join the Joeysearch Android Beta Program", url: "http://www.joeysearch.com/android_beta", image: 'http://www.joeysearch.com/assets/joeysearch_facebook.png'
  } 
%>
<% provide(:title, 'Android Beta Sign up') %>
<%= render 'form' %>
