<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>

		<%= link_to image_tag("facebook_login.png", alt: "Log in with Facebook"), user_omniauth_authorize_path(:facebook), id: "facebooklogin", "data-ajax" => "false" %>
		<br><br>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :'data-ajax' => false }) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>

			<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off" %>

			<% if devise_mapping.rememberable? -%>
				<%= f.label :remember_me, :class => "checkbox" do %>
					<%= f.check_box :remember_me %>Remember Me
				<% end %><br />
			<% end -%>


			<br />
			<%= f.submit "Sign in", class: "btn btn-primary"%>
			<br />
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
</div>