<% provide(:title, "Log in") %>
<div class="span7">
<div class="well widget">
	<!-- widget header -->
	<div class="widget-header">
	<h3 class="title">Log in</h3>
	</div>

	<div class="row">
		<div class="span6">

		<div class="span6 pull-right">
			<br />
			<%= link_to image_tag("facebook_login.png", alt: "Log in with Facebook"), user_omniauth_authorize_path(:facebook), id: "facebooklogin" %>
		</div>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>

			<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off" %>

			<div class="span6">
				<% if devise_mapping.rememberable? -%>
					<%= f.label :remember_me, :class => "checkbox" do %>
						<%= f.check_box :remember_me %>Remember Me
					<% end %><br />
				<% end -%>
			</div>

			<br />
			<%= f.submit "Sign in", class: "btn btn-primary"%>
			<br />
		<% end %>

		<%= render "devise/shared/links" %>

		</div>
	</div>