<%= render 'shared/error_messages', :target => @photo %>
<%= form_for([@photo.place, @photo], :html => { :'data-ajax' => false }) do |f| %>
  <br>
  <%= f.label :image, "Upload a photo:" %>
  <%= f.file_field :image, name: "photo[image]" %>
  
  <%= f.submit "Upload Photo", class: "btn btn-default btn-primary" %>
<% end %>