<%= form_for([@photo.place, @photo]) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= image_tag @photo.image_url %>

  <div class="field">
    <br><strong>Description:</strong>
    <%= f.text_field :description %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-default btn-primary" %>
  </div>
<% end %>
