<div id = "indexPhotos" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
			<%= render 'layouts/flash_message' %>
			<div class="ui-grid-b">
				<% if @photos.length <= 0 %>
					No photos to display
				<% end %>
				<% $i = 1 %>
				<% @photos.each do |item| %>
					<% if ($i % 3) == 1 %>
						<% if item.id %>
						    <div class="ui-block-a">
						    	<%= link_to(image_tag(item.image_url(:thumb).to_s), "#photo_"+item.id.to_s, "data-rel" => "popup", "data-position-to" => "window")  %>
						    	<%= div_for item, :class => "photopopup", "data-overlay-theme" => "a", "data-corners" => "false", "data-tolerance" =>"30,15", "data-role" => "popup" do %>
								   <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><%= image_tag(item.image_url) %>
								<% end %>
						    </div>
					    <% end %>
				    <% end %>
				    <% if ($i % 3) == 2 %>
					    <% if item.id %>
						    <div class="ui-block-b">
						    	<%= link_to(image_tag(item.image_url(:thumb).to_s), "#photo_"+item.id.to_s, "data-rel" => "popup", "data-position-to" => "window")  %>
						    	<%= div_for item, :class => "photopopup", "data-overlay-theme" => "a", "data-corners" => "false", "data-tolerance" =>"30,15", "data-role" => "popup" do %>
								   <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><%= image_tag(item.image_url) %>
								<% end %>
						    </div>
					    <% end %>
				    <% end %>
				    <% if ($i % 3) == 0 %>
					    <% if item.id %>
						    <div class="ui-block-c">
						    	<%= link_to(image_tag(item.image_url(:thumb).to_s), "#photo_"+item.id.to_s, "data-rel" => "popup", "data-position-to" => "window")  %>
						    	<%= div_for item, :class => "photopopup", "data-overlay-theme" => "a", "data-corners" => "false", "data-tolerance" =>"30,15", "data-role" => "popup" do %>
								   <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><%= image_tag(item.image_url) %>
								<% end %>
						    </div>
					    <% end %>
				    <% end %>
				    <% $i = $i + 1 %>
				<% end %>
			</div>
			<%= will_paginate @photos, 
			    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
			    previous_label: 'Prev',
			    next_label: 'Next'
			  %>
			<% if current_user %>
			 	<%= render 'form' %>
			<% end %>
			<br>
			<center>
				<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
			</center>
	</div>
	<%= javascript_include_tag "jquery_ujs" %>
	<script>
		$( document ).on( "pagecreate", function() {
		    $( ".photopopup" ).on({
		        popupbeforeposition: function() {
		            var maxHeight = $( window ).height() - 60 + "px";
		            $( ".photopopup img" ).css( "max-height", maxHeight );
		        }
	    	});
		});
	</script>
	<style>
		.ui-grid-b img {
		    width  : 100%;
		    height : auto;
		}
	</style>
</div>