<h3>Photos for <%= link_to @photo.place.name, place_path(@photo.place) %></h3>

<div id="photos">
	<% if @photos.count == 0 %>
		No photos have been added for this Joey Spot.
		<br><br>
	<% end %>
	<% @photos.each do |item| %>
		<% if item.id %>
		    <%= render 'photo', :photo => item %>
	    <% end %>
	<% end %>
</div>
<div class="clear"></div>

<% if current_user %>
 	<%= form_for [@photo.place, @photo] do |f| %>  
		<strong>Upload Photos</strong><br><br>
	  	Choose files or drag and drop files to this window<br><br>
	  	<%= f.file_field :image, multiple: true, name: "photo[image]" %>
	<% end %>

	<script id="template-upload" type="text/x-tmpl">
	<div class="">
	  {%=o.name%}
	  <div class="progress progress-striped"><div class="bar" style="width: 0%"></div></div>
	</div>
	</script>
	
<% else %>
	<br><br><br><br><br><br>
<% end %>

