<p>
  <strong>
  	<%= link_to "Back", place_path(@photo.place) %> to photos of <%= link_to @photo.place.name, place_path(@photo.place) %>
  </strong>
</p>

<% isFirst = @first_photo == @photo %>
<% isLast = @last_photo == @photo %>
<% unless isFirst %>
<%= link_to "Previous", place_photo_path(@place, @photo.prev) %> 
<% end %>  
<% unless isFirst || isLast %>
|
<% end %>
<% unless isLast %>
<%= link_to "Next", place_photo_path(@place, @photo.next) %>
<% end %>

<p>
  <%= image_tag @photo.image_url %>
</p>

<p>
  <%= @photo.description %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= link_to name_format(User.find(@photo.user_id).name), user_path(User.find(@photo.user_id).slug) %>
</p>

<%= link_to 'Back', place_path(@photo.place) %> 

<% if (current_user && (@photo.user_id == current_user.id)) || (current_user && current_user.id == 2) %>
	|
	<%= link_to 'Edit Description', edit_place_photo_path(@photo.place, @photo) %> |
	<%= link_to "Delete", [@photo.place, @photo], :data => {:confirm => 'Are you sure you want to delete this photo ?'}, :method => :delete %>
<% end %>