<%= render 'shared/error_messages', :target => @review %>
<h3><%= "Add Review for " + @place.name %></h3>

<%= form_for([@place, @review], :html => { :'data-ajax' => false }) do |f| %>
    <%= f.label :rating, "Kid-Friendly Rating:" %>
    <!-- When stars are clicked, the corresponding value is populated in this hidden field. Kind of hacky but works. -->
	<%= f.hidden_field :rating, id:"rating" %>  
    
    <%= content_tag "div", id: "val", data: {rating: @review.rating} do %>  
    <% end %>
    <div id="star"></div>
    <p></p>

    <%# Check to see if a checkbox box was selected when form validation failed %>
	<% if (params[:review] != nil) && (params[:review][:age_group_ids] != nil) %>
		<% age_group_id_array = params[:review][:age_group_ids].map(&:to_i) %>
	<% else %>
		<% age_group_id_array = getReviewAgeGroupIDs(@review.id) # To pre-populate the check boxes data selected on page edit %>
	<% end %>
    <div data-role="collapsible">
        <h4>
            Age Groups: (optional)
        </h4>
        <ul data-role="listview" data-inset="false">
            <li>
			    <% for age_group in AgeGroup.all %>
					<%= check_box_tag "review[age_group_ids][#{age_group.id.to_s}]", age_group.id.to_s, age_group_id_array.include?(age_group.id), :name =>  "review[age_group_ids][]"%>
					<%= label_tag "review_age_group_ids_#{age_group.id}", age_group.group_name + " (" + age_group.description + ")" %>
			    <% end %>
            </li>
        </ul>
    </div>
    
    <%= f.label :review, "Your experience: (optional)" %>
	<%= f.text_area :review, class:"input-block-level", :placeholder => "Sharing your experience can help other parents discover new spots, plan and enjoy as a family" %>
	<br>
	<%= f.label :image, "Upload a photo:" %>
	<%= f.file_field :image, name: "photo[image]" %>
	<br><br>
	
	<%= f.submit "Submit Review", class:"btn btn-info" %>
<% end %>
