<h4>Review for <%= link_to @place.name, place_path(@place) %></h4>
<div class="well widget">
	<!-- widget header -->
	<div class="widget-header">
		<h3 class="title"><%= @title || "Add Review" %></h3>
	</div>
	<%= form_for([@place, @review]) do |f| %>
		<%= render 'shared/error_messages', :target => @review %>
	    <%= f.label :rating, "Kid-Friendly Rating:" %>
	    <!-- When stars are clicked, the corresponding value is populated in this hidden field. Kind of hacky but works. -->
		<%= f.hidden_field :rating, id:"rating" %>  
	    
	    <%= content_tag "div", id: "val", data: {rating: @review.rating} do %>  
	    <% end %>
	    <div id="star"></div>
	    <p></p>
	    <br>
	    Recommended Age Groups: (in years) (optional)

		<br>
		<%# Check to see if a checkbox box was selected when form validation failed %>
		<% if (params[:review] != nil) && (params[:review][:age_group_ids] != nil) %>
			<% age_group_id_array = params[:review][:age_group_ids].map(&:to_i) %>
		<% else %>
			<% age_group_id_array = getReviewAgeGroupIDs(@review.id) # To pre-populate the check boxes data selected on page edit %>
		<% end %>
		<% for age_group in AgeGroup.all %>
			<%= check_box_tag "review[age_group_ids][]", age_group.id, age_group_id_array.include?(age_group.id), type: "checkbox" %>
			<%= f.label age_group.group_name+" ("+age_group.description+")", :class => "checkbox inline" %>
			<br>
	    <% end %>
		<br>

	    <%= f.label :review, "Your experience: (optional)" %>
		<%= f.text_area :review, class:"input-block-level", :placeholder => "Sharing your experience can help other parents discover new spots, plan and enjoy as a family" %>
		
		<%= f.label :image, "Upload a photo:" %>
		<%= f.file_field :image, name: "photo[image]" %>
		<br><br>
		
		<%= f.submit "Submit Review", class:"btn btn-info" %>
	<% end %>

</div>