<% unless review.review.blank? && !@userreview &&  ReviewsAgeGroup.where(review_id: review.id).count == 0 %>
  <div class="row">
  	<% if @userreview %>
      <div class="span1 review_photo">
        <% if review.place.photos[0] %>
          <%= link_to(image_tag(review.place.photos[0].image_url(:thumb).to_s, size: "50x50"), review.place) %>
        <% else %>
          <%= image_tag('thumbnail-default.jpg', size: "50x50", alt: "Default Image") %>
        <% end %>
      </div>
    	<h5><%= link_to review.place.name, review.place %> </h5>
    <% else %>
      <div class="span1 review_photo">
        <% if !review.user.image.blank? %>
          <%= link_to(image_tag(review.user.image_url(:thumb).to_s, size: "50x50"), review.user) %>
        <% else %>
          <%= image_tag('profile-default.png', size: "50x50", alt: "Default Image") %>
        <% end %>
      </div>
    	<h5><%= link_to name_format(review.user.name), review.user %> </h5>
    <% end %>
    <br>
  	<% @review_value = review.rating %>
  	<%= content_tag "div", id: "review_value", data: {rating: @review_value} do %>  
  		<div id="star_value"></div> 
  	<% end %>
  	<p><p>

    <% if ReviewsAgeGroup.where(review_id: review.id).count != 0  %>
      <strong>Recommended for: (in years)</strong>
    <% end %>
    <% for ages in ReviewsAgeGroup.where(review_id: review.id).order("age_group_id ASC") %>
      <% age_group = AgeGroup.find(ages.age_group_id) %>
      <%= label_tag age_group.group_name+" ("+age_group.description+")" %>
    <% end %>
    <% if ReviewsAgeGroup.where(review_id: review.id).count != 0  %>
      <% unless review.review.blank?  %>
        <br>
        <strong>Experience:</strong>
      <% end %>
    <% end %>

  	<p><%= simple_format(review.review) %></p>
      <h6><%= review.updated_at.strftime("%m/%d/%Y") %> </h6>
      <% if current_user && (review.user_id == current_user.id) %>
        	<% if @userreview %>
        		<%= link_to "Edit Review", edit_place_review_path(review.place, review) if review.place %>
        	<% else %>
        		<%= link_to "Edit Review", edit_place_review_path(@place, review) if @place %>
        	<% end %>
    		<br><br>
    	<% end %>

  	<% photo = review.photos.last %>
  	<% if photo %>
      <%= link_to(image_tag(photo.image_url(:thumb).to_s), ([photo.place, photo] if photo.image?))  %>
      <br><br>
    <% end %>
    <div class="votes-<%= review.id %>" >
      <% if review.votes > 0 %>
        <small><%= pluralize review.votes, "Joeysearcher" %> said thanks!</small>
      <% end %>
    </div>
    <% if current_user && !current_user.voted_up_yet?(review) && review.user_id != current_user.id %>
      <br>
      <div id="up-<%= review.id %>" >
        <%= link_to raw("<i class=\"icon-star icon-white\"> Thanks!</i>"), vote_review_path(review, value: 1), :id => "up_vote-" + review.id.to_s, :remote => true, method: "post", class: "btn btn-info btn-mini" %>
      </div>
      <div id="down-<%= review.id %>" style="display: none;" >
        <%= link_to raw("<i class=\"icon-star-empty icon-white\"> Unthank</i>"), vote_review_path(review, value: 0), :id => "down_vote-" + review.id.to_s, :remote => true, method: "post", class: "btn btn-info btn-mini" %>
      </div>
    <% else %>
      <% if current_user && review.user_id != current_user.id %>
        <br>
        <div id="down-<%= review.id %>" >
          <%= link_to raw("<i class=\"icon-star-empty icon-white\"> Unthank</i>"), vote_review_path(review, value: 0), :id => "down_vote-" + review.id.to_s, :remote => true, method: "post", class: "btn btn-info btn-mini" %>
        </div>
        <div id="up-<%= review.id %>" style="display: none;" >
          <%= link_to raw("<i class=\"icon-star icon-white\"> Thanks!</i>"), vote_review_path(review, value: 1), :id => "up_vote-" + review.id.to_s, :remote => true, method: "post", class: "btn btn-info btn-mini" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>