<% unless review.review.blank? && !@userreview && ReviewsAgeGroup.where(review_id: review.id).count == 0 %>
	<li>
		<%= link_to "#review_"+review.id.to_s, "data-rel" => "popup", "data-position-to" => "window"    do %>
			<% if @userreview %>
				<% if review.place.photos[0] %>
					<%= image_tag(review.place.photos[0].image_url(:thumb).to_s, size: "70x70") %>
				<% else %>
					<%= image_tag('thumbnail-default.jpg', size: "70x70", alt: "Default Image") %>
				<% end %>
				<%= review.place.name %>
			<% else %>
				<% if !review.user.image.blank? %>
					<%= image_tag(review.user.image_url(:thumb).to_s, size: "70x70") %>
				<% else %>
					<%= image_tag('profile-default.png', size: "70x70", alt: "Default Image") %>
				<% end %>
				<%= name_format(review.user.name) %>
			<% end %>
			<br>
			<% @review_value = review.rating %>
			<div id="mobile_review_value" >
				<%= content_tag "div", id: "review_value", data: {rating: @review_value} do %>  
					<div id="star_value"></div> 
				<% end %>
			</div>
			<% unless review.review.blank? %>
				<small><%= review.review %><br></small>
			<% end %>
			<% if review.review.blank? %>
				<small>
					<% if ReviewsAgeGroup.where(review_id: review.id).count != 0 %>
						<% @ages = ReviewsAgeGroup.where(review_id: review.id).order("age_group_id ASC") %>
			    		<% @ages.each_with_index do | ages, index | %>
			    			<% age_group = AgeGroup.find(ages.age_group_id) %>
			    			<% if index < @ages.size - 1 %>
					 	    	<%= age_group.group_name + ',' %>
					 	    <% else %>
					 	    	<%= age_group.group_name %>
					 	    <% end %>
			    		<% end %>
			    		<br>
					<% end %>
				</small>
			<% end %>
			<% if review.votes > 0 %>
		      <font size='1'><%= pluralize review.votes, "Joeysearcher" %> said thanks!</font><br>
		    <% end %>
			<font size='1'><%= review.updated_at.strftime("%m/%d/%Y") %></font>
		<% end %>
	</li>
	<% if current_user && (review.user_id == current_user.id) %>
		<% if @userreview %>
			<li>
				<%= link_to "Edit Review", edit_place_review_path(review.place, review), "data-ajax" => "false" if review.place %>
			</li>
		<% else %>
			<li>
				<%= link_to "Edit Review", edit_place_review_path(@place, review), "data-ajax" => "false" if @place %>
			</li>
		<% end %>
	<% end %>
<% end %>

<%= div_for review, :class => "reviewpopup", "data-overlay-theme" => "a", "data-role" => "popup", "data-history" => "false" do %>
	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
		<% if @userreview %>
			<% if review.place.photos[0] %>
				<%= image_tag(review.place.photos[0].image_url(:thumb).to_s, size: "50x50") %>
			<% else %>
				<%= image_tag('thumbnail-default.jpg', size: "50x50", alt: "Default Image") %>
			<% end %>
			&nbsp
			<%= link_to review.place.name, review.place, "data-ajax" => "false" %>
		<% else %>
			<% if !review.user.image.blank? %>
				<%= image_tag(review.user.image_url(:thumb).to_s, size: "50x50") %>
			<% else %>
				<%= image_tag('profile-default.png', size: "50x50", alt: "Default Image") %>
			<% end %>
			&nbsp
			<%= link_to name_format(review.user.name), review.user, "data-ajax" => "false" %>
		<% end %>
		<br>
		<br>
		<% @review_value = review.rating %>
		<div id="mobile_review_value" >
			<%= content_tag "div", id: "review_value", data: {rating: @review_value} do %>  
				<div id="star_value"></div> 
			<% end %>
		</div>
		<% if ReviewsAgeGroup.where(review_id: review.id).count != 0  %>
			<br>
	    	<strong>Recommended for: (in years)</strong>
	    <% end %>

	    <% for ages in ReviewsAgeGroup.where(review_id: review.id).order("age_group_id ASC") %>
			<% age_group = AgeGroup.find(ages.age_group_id) %>
			<%= label_tag age_group.group_name+" ("+age_group.description+")" %>
	    <% end %>

	    <% if ReviewsAgeGroup.where(review_id: review.id).count != 0  %>
	    	<% unless review.review.blank?  %>
	    		<br>
	    		<strong>Experience:</strong>
	   		<% end %>
	    <% end %>
		<%= simple_format(review.review) %>
		<br>
		<% photo = review.photos.last %>
		<% if photo %>
			<br>
			<%= image_tag(photo.image_url(:thumb).to_s) %>
			<br>
		<% end %>
		<% if review.votes > 0 %>
		  <br>
	      <small><%= pluralize review.votes, "Joeysearcher" %> said thanks!</small><br>
	    <% end %>
	    <% if current_user && !current_user.voted_up_yet?(review) && review.user_id != current_user.id %>
			<br>
			<div id="up-<%= review.id %>" >
			  <%= link_to "Thanks", vote_review_path(review, value: 1), :id => "up_vote-" + review.id.to_s, method: "post", "data-ajax" => "false", "data-role" => "button", "data-mini" => "true", "data-icon" => "star" %>
			</div>
			<div id="down-<%= review.id %>" style="display: none;" >
			  <%= link_to "Unthank", vote_review_path(review, value: 0), :id => "down_vote-" + review.id.to_s, method: "post", "data-ajax" => "false", "data-role" => "button", "data-mini" => "true", "data-icon" => "delete" %>
			</div>
			<% else %>
			<% if current_user && review.user_id != current_user.id %>
			  <br>
			  <div id="down-<%= review.id %>" >
			    <%= link_to "Unthank", vote_review_path(review, value: 0), :id => "down_vote-" + review.id.to_s, method: "post", "data-ajax" => "false", "data-role" => "button", "data-mini" => "true", "data-icon" => "delete" %>
			  </div>
			  <div id="up-<%= review.id %>" style="display: none;" >
			    <%= link_to "Thanks", vote_review_path(review, value: 1), :id => "up_vote-" + review.id.to_s, method: "post", "data-ajax" => "false", "data-role" => "button", "data-mini" => "true", "data-icon" => "star" %>
			  </div>
			<% end %>
		<% end %>
		<br>
		<%= review.updated_at.strftime("%m/%d/%Y") %>
		<br><br>
<% end %>