<div id = "new" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<%= render 'form' %>
	</div>

	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "mobile/places.mobile" %>
</div>