<% if @value == '0' %>
	$("#down-<%= @review.id %>").hide();
	$("#up-<%= @review.id %>").show();
<% else %>
	$("#up-<%= @review.id %>").hide();
	$("#down-<%= @review.id %>").show();
<% end %>
<% if @review.votes > 0 || @value == '1' %>
	$("div.votes-<%= @review.id %>").show();
	$("div.votes-<%= @review.id %>").html("<small><%= pluralize @review.votes, 'Joeysearcher' %> said thanks!</small>");
<% else %>
	$("div.votes-<%= @review.id %>").hide();
<% end %>
