<%= search_form_for @search, :html => { :'data-ajax' => false } do |f| %>

    <%= f.text_field :name_cont, placeholder: "Name" %>

    <%= f.text_field :city_cont, placeholder: "City" %>

    <%= f.text_field :zip_code_eq, placeholder: "Zip Code" %>

    <%# Some hacky stuff to get age-group checkbox to work %>
    <% age_group_param = params[:q][:age_groups_id_eq_any] if params[:q] != nil %>
    <% age_groups = AgeGroup.all %>
    <div data-role="collapsible">
      <h4>
        Select Age Groups
      </h4>
      <% age_groups.each do |age_group| %>
        <%= check_box_tag("q[age_groups_id_eq_any][#{age_group.id.to_s}]", age_group.id, ((age_group_param || []).include? age_group.id.to_s) ? true: false, :name =>  "q[age_groups_id_eq_any][]" ) %>
        <%= label_tag "q_age_groups_id_eq_any_#{age_group.id}", age_group.group_name + " (" + age_group.description + ")" %>
      <% end %>
    </div>


    <%= f.select :price_eq, priceDollars, :include_blank => "All Prices" %>

    <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, :include_blank => "All Categories" %>

    <% feature_id_array = params[:q][:features_id_eq_any] if params[:q] != nil %>

    <div id="features_listview">
        <div data-role="collapsible" id="features" >
            <h4>Select Kid-Friendly Features</h4>
            <ul data-role="listview" data-inset="false">
                <li>
                    <% for feature in Feature.all %>
                      <%= check_box_tag "q[features_id_eq_any][#{feature.id.to_s}]", feature.id, ((feature_id_array || []).include? feature.id.to_s) ? true: false, :name =>  "q[features_id_eq_any][]"%>
                      <%= label_tag "q_features_id_eq_any_#{feature.id}", feature.name %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <%= check_box_tag('expired_events', 1, params[:expired_events]) %>
    <%= label_tag "expired_events", "Include expired events?" %>
   
    <%= button_tag type: "submit", class: "btn btn-primary"  do %>
      <i class="icon-search icon-white"></i> Submit
    <% end %>    

<% end %>

