<%= button_tag "Hide Search", class: "searchbutton btn-link"%>
<div class="well widget">
  <div class="widget-header">
    <h3 class="title">Advanced Search</h3>
  </div>
    <%= search_form_for @search do |f| %>
      <div class="row-fluid">

        <!--[if lte IE 9]>
          <div class="span3 row-fluid">
            <%= f.label :name_cont, "Name:", style: "float:left" %>
            &nbsp<%= f.text_field :name_cont, class: "input-medium" %>
          </div>

          <div class="span3">
            <%= f.label :city_cont, "City:", style: "float:left" %>
            &nbsp<%= f.text_field :city_cont, class: "input-medium" %>
          </div>

          <div class="span3">
            <%= f.label :zip_code_eq, "Zip Code:", style: "float:left" %>
            &nbsp<%= f.text_field :zip_code_eq, class: "input-small" %>
          </div>
        <![endif]-->
        <![if (gt IE 9) | !(IE)]>
          <div class="span3">
            <%= f.text_field :name_cont, placeholder: "Name" %>
          </div>

          <div class="span3">
            <%= f.text_field :city_cont, placeholder: "City" %>
          </div>

          <div class="span3">
            <%= f.text_field :zip_code_eq, placeholder: "Zip Code" %>
          </div>
        <![endif]>  






        <div class="span3">
          <%= button_tag type: "submit", class: "btn btn-primary"  do %>
            <i class="icon-search icon-white"></i> Search
          <% end %>
        </div>

      </div>

      <div class="row-fluid">
        <div class="span3">
          <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, :include_blank => "All Categories" %>
          <%= f.grouped_collection_select :features_id_eq_any, Category.order(:name), :features, :name, :id, :name,  {:id => "place[features_id_eq_any][]"}, {:multiple => true, :size => 5} %>
        </div>

        <div class="span3">
          <%= f.select :price_eq, priceDollars, :include_blank => "All Prices" %>
        </div>
        <div class="span3">
          <%# Some hacky stuff to get age-group checkbox to work %>
          <% age_group_param = params[:q][:age_groups_id_eq_any] if params[:q] != nil %>
          <% age_groups = AgeGroup.all %>
          <% age_groups.each do |age_group| %>
            <%= check_box_tag('q[age_groups_id_eq_any][]', age_group.id, ((age_group_param || []).include? age_group.id.to_s) ? true: false ) %>
            <%= f.label age_group.group_name+" ("+age_group.description+")", :class => "checkbox inline" %>
            <br>
          <% end %>
       
        </div>
        <div class="span3">
          <%= check_box_tag('expired_events', 1, params[:expired_events]) %>
          <%= f.label "Include expired events?", :class => "checkbox inline" %>
        </div>
      </div>

    <% end %>
</div>
