<fieldset class="item">
	<br>
	<%= f.select :day, daysOfTheWeek %><br>

 	Open Time
    	<%= f.time_select :open_time,
		  :combined => true,
		  :default => Time.now.change(:hour => 6, :min => 30),
		  :minute_interval => 30,
		  :time_separator => "",
		  :start_hour => 00,
		  :start_minute => 00,
		  :end_hour => 23,
		  :end_minute => 30,
		  :ampm => true
		%>
	<br>
	Close Time
		<%= f.time_select :close_time,
		  :combined => true,
		  :default => Time.now.change(:hour => 18, :min => 30),
		  :minute_interval => 30,
		  :time_separator => "",
		  :start_hour => 00,
		  :start_minute => 00,
		  :end_hour => 23,
		  :end_minute => 30,
		  :ampm => true
		%>
	<br>
	<%= label_tag "hours_closed_label", "Closed", :id => "hours_closed_label" %>
	<%= f.check_box :closed %>
	<br><br>
	<a href="#" class="remove icon-remove glyphw">Remove</a>

	<%= f.hidden_field :id %>
	<%= f.hidden_field :_destroy %>
	<br><br>
	
</fieldset>
