<div class="row">
	<fieldset class="item">
		<div class="span2 item"><br>
			<%= f.select :day, daysOfTheWeek %>
		</div>

		<div class="span2 offset1 ">
		 	Open Time
		    	<%= f.time_select :open_time,
				  :combined => true,
				  :default => Time.now.change(:hour => 6, :min => 30),
				  :minute_interval => 30,
				  :time_separator => "",
				  :start_hour => 00,
				  :start_minute => 00,
				  :end_hour => 23,
				  :end_minute => 30,
				  :ampm => true
				%>
		</div>

		<div class="span2 offset1">
			Close Time
				<%= f.time_select :close_time,
				  :combined => true,
				  :default => Time.now.change(:hour => 18, :min => 30),
				  :minute_interval => 30,
				  :time_separator => "",
				  :start_hour => 00,
				  :start_minute => 00,
				  :end_hour => 23,
				  :end_minute => 30,
				  :ampm => true
				%>
		</div>

		<div class="span2 item offset1">
			<br><%= f.check_box :closed %> Closed
			<!-- <%= link_to raw('<i class="icon-remove icon-white"></i>'), '#', :class => 'remove btn btn-danger' %> -->
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#" class="remove icon-remove glyphw"></a>
		</div>
		<%= f.hidden_field :id %>
		<%= f.hidden_field :_destroy %>
	</fieldset>
</div>