<div class="well widget">
	<!-- widget header -->
	<div class="widget-header">
		<h3 class="title">Joeyspot Information</h3>
	</div>
	<div class="control-group" id="autopopulate_search">
		<%= label_tag :search, "Search to automatically populate location information" %>
		<%= text_field_tag :location_search, nil, class: "span6", type: "search", :placeholder => "Enter a place name or location" %>
		<div id="googlemap"></div>
		<%= render partial: "googlemap" %>
	</div>
	
	<%= form_for(@place) do |f| %>
	  <%= render 'shared/error_messages', :target => @place %>
	  	<div>
	    	<%= f.label :name, "Joey Spot Name" %>
	    	<%= f.text_field :name, :placeholder => "e.g. Woodland Park Zoo", class: "input-xlarge" %>
	    	
	    </div>
	    <div>
	    	<%= f.label :category_id %>
	    	<% # Get all entries from Category table and list them in a drop-down %>       
	   		<%= f.collection_select :category_id, Category.order(:name), :id, :name, :include_blank => "Select Category", class: "cselect" %>
	   	</div>
	   	<div>

	    	<%= f.label :feature_id, "Kid-Friendly Features " %> 
	    	<%= "(Ctrl+Click to select multiple features. ⌘+Click on a Mac)" %>
		    <br>
		    <%= f.grouped_collection_select :feature_ids, Category.order(:name), :features, :name, :id, :name, {:id => "place[feature_ids][]"},  
		    	{:multiple => true, :size => 8} %>
		</div>
		<div>
			<%= f.label "Description (optional)" %>
	    	<%= f.text_area :description,  class: "input-xxlarge", rows: "5"%>
	    </div>

	    <div class="row-fluid">
		    <div class="span4">
		    	<%= f.label "Ages (In Years)" %>
				<%# Check to see if a checkbox box was selected when form validation failed %>
				<% if (params[:place] != nil) && (params[:place][:age_group_ids] !=nil) %>
					<% age_group_id_array = params[:place][:age_group_ids].map(&:to_i) %>
				<% else %>
					<% age_group_id_array = getAgeGroupIDs(@place.id) # To pre-populate the check boxes data selected on page edit %>
				<% end %>

			    <% for age_group in AgeGroup.all %>
					<%= check_box_tag "place[age_group_ids][]", age_group.id, age_group_id_array.include?(age_group.id), type: "checkbox" %>
					<%= f.label age_group.group_name+" ("+age_group.description+")", :class => "checkbox inline" %>
					<br>
			    <% end %>
			 </div>

			 <div class="span3">   
			    <%= f.label :Price %>
		    	<%= f.select :price, priceDollars %>
		    	
		    </div>
		</div>
	    <br>

	    <div class="row-fluid">
		   	<div class="span3">
		   		<%= f.label "Start Date:" %>
		   		<%= f.text_field :event_start_date %>
		   	</div>
		   	<div class="span3">
		   		<%= f.label "End Date (If Applicable):" %>
		   		<%= f.text_field :event_end_date %>
		   	</div>
		   	<div class="span3">
		   		<%= f.label "How Often?" %>
		   		<%= f.collection_select :recurrence_id, Recurrence.order(:id), :id, :name, include_blank: true, class: "cselect" %>
		   	</div>
		   	<div class="span3">
		   		<%= f.label "Event Price? (optional)" %>
		   		<%= f.text_field :event_price, :placeholder => "7.50", class: "input-small" %>
		   	</div>
	   	</div><br>
			
		<div class="items" id="business_hours">
			<%= f.nested_fields_for :business_hours do | builder | %>
				<%= render 'business_hour_fields', f: builder %>
			<% end %> 
			<a href="#" class="add">Add Hours</a>&nbsp(optional)
		</div>
		
		<div class="row-fluid hidden_hours_fields" id="auto_populate_hours">
			<%= f.label "Hours (Automatically Populated by Google Maps):" %>
			<br>
			<table class="hours_table">
				<tr>
					<th>Day</th>
					<th>Open</th>
					<th>Close</th>
				</tr>
				<tr>
					<td>Monday</td>
					<td id="open_monday_label"></td>
					<td id="close_monday_label"></td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td id="open_tuesday_label"></td>
					<td id="close_tuesday_label"></td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td id="open_wednesday_label"></td>
					<td id="close_wednesday_label"></td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td id="open_thursday_label"></td>
					<td id="close_thursday_label"></td>
				</tr>
				<tr>
					<td>Friday</td>
					<td id="open_friday_label"></td>
					<td id="close_friday_label"></td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td id="open_saturday_label"></td>
					<td id="close_saturday_label"></td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td id="open_sunday_label"></td>
					<td id="close_sunday_label"></td>
				</tr>
			</table>
		</div>
		<div class="hidden">
			<input id="open_monday_" name="open_monday[]" type="text">
			<input id="close_monday_" name="close_monday[]" type="text">
			<input id="open_tuesday_" name="open_tuesday[]" type="text">
			<input id="close_tuesday_" name="close_tuesday[]" type="text">
			<input id="open_wednesday_" name="open_wednesday[]" type="text">
			<input id="close_wednesday_" name="close_wednesday[]" type="text">
			<input id="open_thursday_" name="open_thursday[]" type="text">
			<input id="close_thursday_" name="close_thursday[]" type="text">
			<input id="open_friday_" name="open_friday[]" type="text">
			<input id="close_friday_" name="close_friday[]" type="text">
			<input id="open_saturday_" name="open_saturday[]" type="text">
			<input id="close_saturday_" name="close_saturday[]" type="text">
			<input id="open_sunday_" name="open_sunday[]" type="text">
			<input id="close_sunday_" name="close_sunday[]" type="text">
		</div>

		<br>
    	<%= f.label "Address:" %><br>
		<div class="row-fluid">
			<div class="span4">
		    	<%= f.label :"Street" %>
		    	<%= f.text_field :street, :placeholder => "e.g. 601 N 59th St", class: "input-xlarge" %>
			</div>
			<div class="span3">
		    	<%= f.label :"City" %>
		    	<%= f.text_field :city, :placeholder => "e.g. Seattle", class: "input-medium" %>
		    </div>
		    <div class="span3">
		    	<%= f.label :"State" %>
		    	<%= f.select :state, options_for_select(us_states, @place.state), :include_blank => "Select One"  %>
		    </div>
		</div>
		<div class="row-fluid">
			<div class="span3">
		    	<%= f.label :"Zip Code" %>
		    	<%= f.text_field :zip_code, :placeholder => "e.g. 98103", class: "input-medium"%>
			</div>
			<div class="span3">
		    	<%= f.label "Phone Number (optional)" %>
	    		<%= f.text_field :phone_num, :placeholder => "e.g. (206) 123-456", class: "input-medium" %>
	    	</div>
	    	<div class="span3">
	    		<%= f.label "Website (optional)" %>
	    		<%= f.text_field :website, :placeholder => "e.g. http://www.example.com", class: "input-large" %>
	    	</div>
	    	<br /><br />
	    </div>

	    <%= f.submit "Save Joey Spot", class: "btn  btn-primary"%>
	<% end %>
</div>
<script>
	document.getElementById('place_category_id').addEventListener("change", function(){
		//If its an event, we don't want the autopopulated hours, its very likely the autopopulated is wrong for events
	    category = $('#place_category_id :selected').text();
	    if (category == 'Events') {
	    	removeAutopopulateHours();
	    } else {

	    }
	}, false);
</script>
