<!-- <div id="googlemap"></div> -->

<script type="text/javascript">	

  var cookieHelper = (function () {
    return {
      createCookie: function (name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toGMTString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      },
      writeSessionCookie: function (cookieName, cookieValue) {
        document.cookie = cookieName + "=" + cookieValue + "; path=/";
      },
      readCookie: function (name) {
        var nameEq = name + "=";
        var ca = document.cookie.split(';');
        var i;

        for (i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') { c = c.substring(1, c.length); }
          if (c.indexOf(nameEq) === 0) { return c.substring(nameEq.length, c.length); }
        }

        return null;
      },
      deleteCookie: function (name) {
        this.createCookie(name, null, -1);
      },
      testSessionCookieEnabled : function() {
        document.cookie ="testSessionCookie=Enabled";
        if (getCookieValue ("testSessionCookie")=="Enabled")
          return true 
        else
          return false;
      }
    };
  }());

  function tConvert (time) {
    // Check correct time format and split into components
    time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

    if (time.length > 1) { // If time format correct
      time = time.slice (1);  // Remove full string match value
      time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
      time[0] = +time[0] % 12 || 12; // Adjust hours
    }
    return time.join (''); // return adjusted time or original string
  }

  function removeAutopopulateHours () {
    $('div#business_hours').show();
    $('div#auto_populate_hours').hide();
    document.getElementById("open_sunday_").value = "";
    document.getElementById("close_sunday_").value = "";
    document.getElementById("open_monday_").value = "";
    document.getElementById("close_monday_").value = "";
    document.getElementById("open_tuesday_").value = "";
    document.getElementById("close_tuesday_").value = "";
    document.getElementById("open_wednesday_").value = "";
    document.getElementById("close_wednesday_").value = "";
    document.getElementById("open_thursday_").value = "";
    document.getElementById("close_thursday_").value = "";
    document.getElementById("open_friday_").value = "";
    document.getElementById("close_friday_").value = "";
    document.getElementById("open_saturday_").value = "";
    document.getElementById("close_saturday_").value = "";
  }

<!--
  //If we are in edit mode (hidden edit label is present), don't show the map and search bar
  //Too complicated to allow user to autopopulate on an edit. Edit should be used to only tweak
  //not totally redo everything. Of course user can do that manually if necessary.
  if (document.getElementById('editViewLabel')) {
    $('div#autopopulate_search').hide();
  }

  var defaultZoom = 11; // Why zoomed in? Because it looks good.
  var lat = cookieHelper.readCookie("users_lat");
  var lon = cookieHelper.readCookie("users_lon");

  // create map and add controls
  if (lat==null || lon==null) {
    // Lat & Long of Seattle
    lat = 47.606209;
    lon = -122.332071;
  }
  var mapOptions = {
    center: new google.maps.LatLng(lat, lon),
    zoom: defaultZoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    scaleControl: false,
    draggable: false
  };
  var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

	// set center point of map to be of the Marker or the Default City
  var centrePoint = new google.maps.LatLng(lat, lon);
  map.setCenter(centrePoint);
  map.setZoom(defaultZoom); 
	
	// add a draggable marker
  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: centrePoint
  });

  var defaultImage = new google.maps.MarkerImage(
      "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
      new google.maps.Size(71, 71),
      new google.maps.Point(0, 0),
      new google.maps.Point(17, 34),
      new google.maps.Size(35, 35));
  marker.setIcon(defaultImage);
	
  google.maps.event.addListener(marker, 'click');
	
	// create Info window for marker
  var infowindow = new google.maps.InfoWindow();
  
  // Address Autocomplete
  var input = document.getElementById('location_search');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

	// add a drag listener to the map
	google.maps.event.addListener(marker, "dragend", function() {
		var point = marker.getPosition();
		map.panTo(point);
		//document.getElementById("location_lat").value = point.lat();
		//document.getElementById("location_lng").value = point.lng();
		infowindow.close();
    marker.setIcon(defaultImage);
  });
  var place;
  var photos;

  // Autocomplete Listener
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    place = autocomplete.getPlace();
    marker.setPosition(place.geometry.location);
    map.panTo(place.geometry.location);
    map.setZoom(16);

    //Check if there is hours info, if so, parse through it and possibly hide manual hours
    //and show the auto populated hours. If the place is open 24, don't do anything
    if (place.opening_hours && $('#place_category_id :selected').text() != 'Events') {

      var periods = place.opening_hours.periods;
      var openHours = "";
      var openMinutes = "";
      var openTime = "";
      var closeHours = "";
      var closeMinutes = "";
      var daysHash = new Object();
      for (var i=0; i < periods.length; i++) {
        openHours = periods[i].open.hours.toString();
        openMinutes = periods[i].open.minutes.toString();
        if (openMinutes == '0')
          openMinutes = openMinutes + '0';
        if (openMinutes.length < 2)
          openMinutes = '0' + openMinutes;
        if (openHours.length < 2)
          openHours = '0' + openHours;
        openTime = openHours + ':' + openMinutes;

        // If there is no close time, its open 24 and we won't worry about it
        if (periods[i].close) {
          closeHours = periods[i].close.hours.toString();
          closeMinutes = periods[i].close.minutes.toString();
          if (closeMinutes == '0')
            closeMinutes = closeMinutes + '0';
          if (closeMinutes.length < 2)
            closeMinutes = '0' + closeMinutes;
          if (closeHours.length < 2)
            closeHours = '0' + closeHours;
          closeTime = closeHours + ':' + closeMinutes;
          daysHash[periods[i].open.day.toString()] = true;

          if (periods[i].open.day == 0) {
            document.getElementById("open_sunday_").value = openTime;
            document.getElementById("close_sunday_").value = closeTime;
            document.getElementById("open_sunday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_sunday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 1)  {
            document.getElementById("open_monday_").value = openTime;
            document.getElementById("close_monday_").value = closeTime;
            document.getElementById("open_monday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_monday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 2) {
            document.getElementById("open_tuesday_").value = openTime;
            document.getElementById("close_tuesday_").value = closeTime;
            document.getElementById("open_tuesday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_tuesday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 3) {
            document.getElementById("open_wednesday_").value = openTime;
            document.getElementById("close_wednesday_").value = closeTime;
            document.getElementById("open_wednesday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_wednesday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 4)  {
            document.getElementById("open_thursday_").value = openTime;
            document.getElementById("close_thursday_").value = closeTime;
            document.getElementById("open_thursday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_thursday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 5) {
            document.getElementById("open_friday_").value = openTime;
            document.getElementById("close_friday_").value = closeTime;
            document.getElementById("open_friday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_friday_label").innerHTML = tConvert(closeTime);
          } else if (periods[i].open.day == 6) {
            document.getElementById("open_saturday_").value = openTime;
            document.getElementById("close_saturday_").value = closeTime;
            document.getElementById("open_saturday_label").innerHTML = tConvert(openTime);
            document.getElementById("close_saturday_label").innerHTML = tConvert(closeTime);
          }
          //Mark all blank boxes as closed
          if (!daysHash['0']) {
            document.getElementById("open_sunday_").value = "closed";
            document.getElementById("close_sunday_").value = "closed";
            document.getElementById("open_sunday_label").innerHTML = "closed";
            document.getElementById("close_sunday_label").innerHTML = "closed";
          }
          if (!daysHash['1']) {
            document.getElementById("open_monday_").value = "closed";
            document.getElementById("close_monday_").value = "closed";
            document.getElementById("open_monday_label").innerHTML = "closed";
            document.getElementById("close_monday_label").innerHTML = "closed";
          }
          if (!daysHash['2']) {
            document.getElementById("open_tuesday_").value = "closed";
            document.getElementById("close_tuesday_").value = "closed";
            document.getElementById("open_tuesday_label").innerHTML = "closed";
            document.getElementById("close_tuesday_label").innerHTML = "closed";
          }
          if (!daysHash['3']) {
            document.getElementById("open_wednesday_").value = "closed";
            document.getElementById("close_wednesday_").value = "closed";
            document.getElementById("open_wednesday_label").innerHTML = "closed";
            document.getElementById("close_wednesday_label").innerHTML = "closed";
          }
          if (!daysHash['4']) {
            document.getElementById("open_thursday_").value = "closed";
            document.getElementById("close_thursday_").value = "closed";
            document.getElementById("open_thursday_label").innerHTML = "closed";
            document.getElementById("close_thursday_label").innerHTML = "closed";
          }
          if (!daysHash['5']) {
            document.getElementById("open_friday_").value = "closed";
            document.getElementById("close_friday_").value = "closed";
            document.getElementById("open_friday_label").innerHTML = "closed";
            document.getElementById("close_friday_label").innerHTML = "closed";
          }
          if (!daysHash['6']) {
            document.getElementById("open_saturday_").value = "closed";
            document.getElementById("close_saturday_").value = "closed";
            document.getElementById("open_saturday_label").innerHTML = "closed";
            document.getElementById("close_saturday_label").innerHTML = "closed";
          }

          //Only if this place is not open 24 hours do we show the autopopulated hours
          $('div#business_hours').hide();
          $('div#auto_populate_hours').show();
        }
      }
    }
    else { //Hide the autopopulated fields cause there is no data and old data should be erased
      removeAutopopulateHours();
    }
		
		// Sets the proper image on the marker. ie. school/hospital marker
		var image = new google.maps.MarkerImage(
        place.icon,
        new google.maps.Size(71, 71),
        new google.maps.Point(0, 0),
        new google.maps.Point(17, 34),
        new google.maps.Size(35, 35));
    marker.setIcon(image);
    marker.setPosition(place.geometry.location);

    var address = '';
    if (place.address_components) {
      address = [(place.address_components[0] &&
                  place.address_components[0].short_name || ''),
                 (place.address_components[1] &&
                  place.address_components[1].short_name || ''),
                 (place.address_components[2] &&
                  place.address_components[2].short_name || '')
                ].join(' ');
    }

    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);

    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };

    var form = new Object();

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        componentForm[addressType] = val;
      }
    }

    if (componentForm['postal_code'] != 'short_name'){
      document.getElementById("place_zip_code").value = componentForm['postal_code'];
    } else {
      document.getElementById("place_zip_code").value = "";
    }

    if (componentForm['locality'] != 'long_name') {
      document.getElementById("place_city").value = componentForm['locality'];
    } else {
      document.getElementById("place_city").value = "";
    }

    if (componentForm['street_number'] != 'short_name' || componentForm['route'] != 'long_name') {
      if (componentForm['street_number'] == 'short_name')
        document.getElementById("place_street").value = componentForm['route'];
      else
        document.getElementById("place_street").value = componentForm['street_number'] + ' ' + componentForm['route'];
    } else {
      document.getElementById("place_street").value = "";
    }

    if (componentForm['administrative_area_level_1'] != 'short_name') {
      document.getElementById("place_state").value = componentForm['administrative_area_level_1'];
    } else {
      document.getElementById("place_state").value = "";
    }

    if (place.name) {
      document.getElementById("place_name").value = place.name;
    } else {
      document.getElementById("place_name").value = "";
    }

    if (place.formatted_phone_number) {
      document.getElementById("place_phone_num").value = place.formatted_phone_number;
    } else {
      document.getElementById("place_phone_num").value = "";
    }

    if (place.website) {
      document.getElementById("place_website").value = place.website;
    } else {
      document.getElementById("place_website").value = "";
    }

    //For JQuery mobile, on select elements, a refresh is necessary after a programmatic manipulation
    //TODO: This needs to somehow be a mobile only call
    $('#place_state').selectmenu("refresh", true);
  });

//-->
</script>

<br />