<%= link_to place_obj.name, place_obj, style:'font-weight: bold;', 'data-no-turbolink' => true %>

<%= content_tag "div", id: "review_value", data: {rating: place_obj.rating} do %>  
	<div id="star_value"></div> 
<% end %>

<p>
	<%= place_obj.street %> <br>
	<%= "#{place_obj.city}, #{place_obj.state} - #{place_obj.zip_code}" %>
</p>

<p>
	<% address = "#{place_obj.street} #{place_obj.city}, #{place_obj.state} - #{place_obj.zip_code}" %>
	<%= link_to "Directions", "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %>
</p>