<div id = "show" data-role="page">
	<div class="hidden">
		<label class="hidden" id="editViewLabel">Edit</label>
	</div>
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<%= render 'form' %>
	</div>
	<br>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>

	<!-- Used for parameter passing from controller to javascript -->
	<%= include_gon %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "mobile/categories.mobile" %>
</div>