<head> 
  <%= analytics_init if Rails.env.production? %> 
</head>

<% if @places.first != nil %>
  <% if @places.first.photos.first != nil %>
    <% if params[:name].blank? && params[:near].blank? %>
      <% meta og: {
          title: "Joeysearch: Kid-Friendly spots near " + cookies[:users_city],
          description: "List of Kid-Friendly spots near " + cookies[:users_city],
          image: @places.first.photos.first.image_url.to_s
        }
      %>
    <% else %>
      <% if params[:name].blank? %>
        <% meta og: {
            title: "Joeysearch: Kid-Friendly spots near " + params[:near],
            description: "List of Kid-Friendly spots near " + params[:near],
            image: @places.first.photos.first.image_url.to_s
          }
        %>
      <% else %>
        <% if params[:near].blank? %>
          <% meta og: {
              title: "Joeysearch: " + params[:name] + " near " + cookies[:users_city],
              description: "List of " + params[:name] + " near " + cookies[:users_city],
              image: @places.first.photos.first.image_url.to_s
            }
          %>
        <% else %>
          <% meta og: {
              title: "Joeysearch: " + params[:name] + " near " + params[:near],
              description: "List of " + params[:name] + " near " + params[:near],
              image: @places.first.photos.first.image_url.to_s
            }
          %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if params[:name].blank? && params[:near].blank? %>
      <% meta og: {
          title: "Joeysearch: Kid-Friendly spots near " + cookies[:users_city],
          description: "List of Kid-Friendly spots near " + cookies[:users_city],
        }
      %>
    <% else %>
      <% if params[:name].blank? %>
        <% meta og: {
            title: "Joeysearch: Kid-Friendly spots near " + params[:near],
            description: "List of Kid-Friendly spots near " + params[:near],
          }
        %>
      <% else %>
        <% if params[:near].blank? %>
          <% meta og: {
              title: "Joeysearch: " + params[:name] + " near " + cookies[:users_city],
              description: "List of " + params[:name] + " near " + cookies[:users_city],
            }
          %>
        <% else %>
          <% meta og: {
              title: "Joeysearch: " + params[:name] + " near " + params[:near],
              description: "List of " + params[:name] + " near " + params[:near],
            }
          %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render "advanced_search" %> 

<div class="row-fluid">
  <div class="span8">
    <table class="table">
      <thead>
      </thead>
        <tbody>
          <%= "No results matching your search." if @places.blank? %>
            <% @places.each_with_index do |place, index| %>
              <tr> 
              <td>
                <div class="result_div">
                  <% if place.photos[0] %>
                    <%= link_to(image_tag(place.photos[0].image_url(:thumb).to_s), place)  %>
                  <% else %>
                    <%# Adding 1 since index starts with 0 %>
                    <!--[if lte IE 9]>
                      <%= image_tag('thumbnail-default-100.jpg', alt: "Default Image") %>
                    <![endif]-->
                    <![if (gt IE 9) | !(IE)]>
                       <%= image_tag('thumbnail-default.jpg', alt: "Default Image", :class => "result_default") %>
                    <![endif]>
                  <% end %>
                </div>
              </td>
              <td>
                <div class = "span8">
                  <%# Adding 1 since index starts with 0 %>
                  <%= index+1 %><%= ". " %><%= highlight (link_to place.name, place, 'data-no-turbolink' => true ), @highlight_words-%>
                  <br><%= content_tag "div", id: "review_value", data: {rating: place.rating} do %>  
                    <div id="star_value"></div> 
                  <% end %>
                  <font size='1'>Kid-Friendly Rating</font><br>
                  <!-- <font size='1'>(<%= pluralize(place.reviews.count, 'Review') %>)</font><br> -->
                  <small><%= pluralize(place.reviews.count, 'Review') %></small><br>
                  <% if place.votes > 0 %>
                    <small><%= pluralize(place.votes, 'Like!')%></small><br>
                  <% end %>
                  <br><%= intToPrice(place.price) %> - <%= Category.find(place.category_id).name %> 
                </div>  
                <div class = "span4">
                  <%= place.street %>
                    <br><%= place.city %>, <%= place.state %> - <%= place.zip_code %> 
                    <br><%= number_to_phone place.phone_num, area_code: true %>
                </div>
              </td>
                <td></td>
                <td>
                </td>
                <td></td>
              </tr> 
            <% end %>
        </tbody>
      </table>
        <%= will_paginate @places, :class => 'pagination pagination-info pagination-small'  %>
    </div>
    <div class="span4">
        <%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 100%; height: 400px;', data: { coords: @map_coords_hash.to_json} do %>
        <% end %>
    </div>
</div>
