<% if @places.first != nil %>
	<% if @places.first.photos.first != nil %>
	  <% if params[:name].blank? && params[:near].blank? %>
	    <% meta og: {
	        title: "Joeysearch: Kid-Friendly spots near " + cookies[:users_city],
	        description: "List of Kid-Friendly spots near " + cookies[:users_city],
	        image: @places.first.photos.first.image_url.to_s
	      }
	    %>
	  <% else %>
	    <% if params[:name].blank? %>
	      <% meta og: {
	          title: "Joeysearch: Kid-Friendly spots near " + params[:near],
	          description: "List of Kid-Friendly spots near " + params[:near],
	          image: @places.first.photos.first.image_url.to_s
	        }
	      %>
	    <% else %>
	      <% if params[:near].blank? %>
	        <% meta og: {
	            title: "Joeysearch: " + params[:name] + " near " + cookies[:users_city],
	            description: "List of " + params[:name] + " near " + cookies[:users_city],
	            image: @places.first.photos.first.image_url.to_s
	          }
	        %>
	      <% else %>
	        <% meta og: {
	            title: "Joeysearch: " + params[:name] + " near " + params[:near],
	            description: "List of " + params[:name] + " near " + params[:near],
	            image: @places.first.photos.first.image_url.to_s
	          }
	        %>
	      <% end %>
	    <% end %>
	  <% end %>
	<% else %>
	  <% if params[:name].blank? && params[:near].blank? %>
	    <% meta og: {
	        title: "Joeysearch: Kid-Friendly spots near " + cookies[:users_city],
	        description: "List of Kid-Friendly spots near " + cookies[:users_city],
	      }
	    %>
	  <% else %>
	    <% if params[:name].blank? %>
	      <% meta og: {
	          title: "Joeysearch: Kid-Friendly spots near " + params[:near],
	          description: "List of Kid-Friendly spots near " + params[:near],
	        }
	      %>
	    <% else %>
	      <% if params[:near].blank? %>
	        <% meta og: {
	            title: "Joeysearch: " + params[:name] + " near " + cookies[:users_city],
	            description: "List of " + params[:name] + " near " + cookies[:users_city],
	          }
	        %>
	      <% else %>
	        <% meta og: {
	            title: "Joeysearch: " + params[:name] + " near " + params[:near],
	            description: "List of " + params[:name] + " near " + params[:near],
	          }
	        %>
	      <% end %>
	    <% end %>
	  <% end %>
	<% end %>
<% end %>
<div id = "show" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<div data-role="collapsible" data-inset="true" data-collapsed-icon="carat-d">
			<h4><font color=#005580>Advanced Search</h4>
			<%= render 'advanced_search' %>
		</div>
		<br>
		<ul data-role="listview" data-inset="false">
			<% if @places.empty? %>
				<li>
					<%= "No results matching your search." %>
				</li>
			<% else %>
				<% @places.each_with_index do |place, index| %>
					<li>
					  <%= link_to place, "data-ajax" => "false" do %>
					    <% if place.photos[0] %>
					      <%= image_tag(place.photos[0].image_url(:thumb).to_s, size: "70x70")  %>
					    <% else %>
					      <%# Adding 1 since index starts with 0 %>
					      <%= image_tag('thumbnail-default.jpg', size: "70x70", alt: "Default Image") %>
					    <% end %>
					    <%= index+1 %>
					      <%= ". " %><%= place.name %>
					      <div id="mobile_home_review_value" >
					        <%= content_tag "div", id: "review_value", data: {rating: place.rating} do %>
					          <div id="star_value"></div> 
					        <% end %>
					      </div>
					      <font size='1'>Kid-Friendly Rating</font>
					      <font size='1'>(<%= pluralize(place.reviews.count, 'Review') %>)</font><br>
					      <% if place.votes > 0 %>
			                <small><%= image_tag('heart.png', id: 'like_result', size: '15x15') %>&nbsp <%= place.votes %></small><br>
			              <% end %>
					      <small><font size='2' color = "gray"> <%= Category.find(place.category_id).name %> </font></small>
					  <% end %>
					</li>
				<% end %>
				<li>
					<%= will_paginate @places, 
				    	renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
				    	previous_label: 'Prev',
				    	next_label: 'Next'
				  	%>
				</li>
				<li>
					<center>
						<%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 90%; height: 300px; max-width: 400px', data: { coords: @map_coords_hash.to_json} do %>
						<% end %>
					</center>
	        	</li>
        	<% end %> 
		</ul>
	</div>
	<center>
		<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
	</center>
	<!-- Used for parameter passing from controller to javascript -->
	<%= include_gon %>
	<%= javascript_include_tag "mobile/advanced_search.mobile" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "mobile/maps_results.mobile" %>
	<%= javascript_include_tag "mobile/places.mobile" %>
	<%= javascript_include_tag "gmaps/google" %>
	<%= javascript_include_tag "underscore-min" %>

</div>