<!-- Removing possible apostrophe's from the title --> 
<% str = @place.name %>
<% str = str.tr(%q{''}, '') %>
<% provide(:title, str) %>
<% if @place.photos.first != nil %>
  <% meta og: {
      title: str,
      description: @place.description,
      image: @place.photos.first.image_url.to_s
    }
  %>
<% else %>
  <% meta og: {
      title: str,
      description: @place.description,
    }
  %>
<% end %>
<div class="row">
  <div class="pull-right" >
        <%= content_tag "div", class: 'google-maps', id: "map", data: { coords: @map_coords_hash.to_json} do %>
      <% end %><br>
      <div><%= link_to 'Write a Review', new_place_review_path(@place.id), :class => "btn btn-info" %></div>


      <% if current_user && !current_user.voted_place_up_yet?(@place) %>
        <br>
        <div id="up-<%= @place.id %>" >
          <%= link_to raw("<i class=\"icon-heart icon-white\"> Like!</i>"), vote_place_path(@place.id, value: 1), :id => "up_vote-" + @place.id.to_s, :remote => true, method: "post", class: "btn btn-info" %>
        </div>
        <div id="down-<%= @place.id %>" style="display: none;" >
          <%= link_to raw("<i class=\"icon-heart-empty icon-white\"> Unlike</i>"), vote_place_path(@place.id, value: 0), :id => "down_vote-" + @place.id.to_s, :remote => true, method: "post", class: "btn btn-info" %>
        </div>
      <% else %>
        <% if current_user %>
          <br>
          <div id="down-<%= @place.id %>" >
            <%= link_to raw("<i class=\"icon-heart-empty icon-white\"> Unlike</i>"), vote_place_path(@place.id, value: 0), :id => "down_vote-" + @place.id.to_s, :remote => true, method: "post", class: "btn btn-info" %>
          </div>
          <div id="up-<%= @place.id %>" style="display: none;" >
            <%= link_to raw("<i class=\"icon-heart icon-white\"> Like!</i>"), vote_place_path(@place.id, value: 1), :id => "up_vote-" + @place.id.to_s, :remote => true, method: "post", class: "btn btn-info" %>
          </div>
        <% end %>
      <% end %>

  </div>
  <div class="span6">
    <!--  --> 
      <h3><%= @place.name %></h3>

    <p>
      
      <%= content_tag "div", id: "review_value", data: {rating: @place.rating} do %>  
        <div id="star_value"></div> 
      <% end %>
      <font size='1'>Kid-Friendly Rating (<%= pluralize(@place.reviews.count, 'Review') %>)</font>
      <div class="votes-<%= @place.id %>" >
        <% if @place.votes > 0 %>
          <br>
          <small><%= pluralize @place.votes, "Joeysearcher" %>&nbsp&nbsp<%= image_tag('heart.png', id: 'like') %>
          &nbsp this spot!</small>
        <% end %>
      </div>
    </p>

    <% unless @place.description.blank? %>
      <p>
        <strong>Description:</strong>
        <br>
        <%= simple_format(@place.description) %>
      </p>
    <% end %>

    <p>
      <strong>Category:</strong>
      <%= Category.find(@place.category_id).name %> 
    </p>

    <% @features = PlacesFeature.where(place_id: @place.id) %>
    <% unless @place.category_id == Category.where(name: "Events")[0].id ||  @features.blank?%>
      <p>
        <strong>Kid-Friendly Features:</strong>
        <ul>
          <% for features in @features %>
            <% feature = Feature.find(features.feature_id) %>
            <li><%= feature.name %>
          <% end %>
        </ul>
      </p>
    <% end %>

    <p>
      <strong>Ages: (in years)</strong>
      <ul>
        <% for ages in PlacesAgeGroup.where(place_id: @place.id).order("age_group_id ASC") %>
          <% age_group = AgeGroup.find(ages.age_group_id) %>
          <li><%= age_group.group_name %>&nbsp(<%= age_group.description %>)
        <% end %>
      </ul>
    </p>

    <% if @place.category_id == Category.where(name: "Events")[0].id %>
      <% unless @place.event_start_date.blank? %>
        <p>
          <strong>Start Date:</strong>
          <%= @place.event_start_date.strftime("%B %d, %Y") %>
        </p>
      <% end %>

      <% unless @place.event_end_date.blank? %>
        <p>
          <strong>End Date:</strong>
          <%= @place.event_end_date.strftime("%B %d, %Y") %>
        </p>
      <% end %>
      <% unless @place.recurrence_id.blank? %>
        <p>
          <strong>How Often?:</strong>
          <%= Recurrence.find(@place.recurrence_id).name %>
        </p>
      <% end %>
    <% end %>

    <% if @place.category_id == Category.where(name: "Events")[0].id %>
      <% unless @place.event_price.blank? %>
        <p>
          <strong>Event Price:</strong>
          <%= number_to_currency(@place.event_price) %>
        </p>
      <% end %>
    <% else %>
      <p>
        <strong>Price:</strong>
        <%= intToPrice(@place.price) %>
      </p>
    <% end %>

    <% @businessHours = BusinessHour.where(place_id: @place.id) %>
    <% unless @businessHours.blank? %>
      <p>
        <strong>Hours:</strong>
        <ul>
          <% for bh in @businessHours %>
            <li><%= bh.day %> : 
              <% if bh.closed %>
                <b><%= "Closed" %></b>
              <% else %>
                <%= bh.open_time.to_time.strftime("%I:%M %p")  %> - <%= bh.close_time.to_time.strftime("%I:%M %p") %> 
              <% end %>
          <% end %>
        </ul>
      </p>
    <% end %>

      <p>
        <strong>Address:</strong><br>
        <% address_str = "#{h@place.street}<br>#{h@place.city}, #{h@place.state} - #{h@place.zip_code}".html_safe %>
        <% address = "#{@place.street}, #{@place.city}, #{@place.state} - #{@place.zip_code}" %>
        <%= link_to address_str, "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %>
      </p>

    <% unless @place.phone_num.blank? %>
      <p>
        <strong>Phone:</strong>
        <%= number_to_phone @place.phone_num, area_code: true %>
      </p>
    <% end %>

    <% unless @place.website.blank? %>
      <p>
        <strong>Website:</strong>
        <%= link_to @place.website, @place.website, target: '_blank' %>
      </p>
    <% end %>

    <%= content_tag(:div, "", :class => "icon-pencil", :style => "color: #0088cc;") %> 
    <%= link_to ' Edit Info', edit_place_path(@place), 'data-no-turbolink' => true %> 
    <br><br>
    <p>

    <% @place.photos.each_with_index do |photo, index| %>
      <% if photo.id %>
          <% if index >= 4 %>
            <%= link_to("More..", place_photos_path(@place)) %>
            <% break %>
          <% end %>
          <%= link_to(image_tag(photo.image_url(:thumb).to_s), ([photo.place, photo] if photo.image?))  %>
      <% end %>
    <% end %>
    </p>

    <%= content_tag(:div, "", :class => "icon-camera", :style => "color: #0088cc;") %> 
    <%= link_to ' Add Photos', place_photos_path(@place) %>
    <br><br>
  </div>
</div>
<p><p>
<!--  -->
<div class="well widget">
  <div class="widget-header">
    <h3 class="title">Reviews</h3>
  </div>
  <% if @reviews.empty? %>
    There are no reviews yet, be the first!
  <% end %>
  <%= will_paginate @reviews, :class => 'pagination pagination-info pagination-small'  %>
    <br>
    <div style="margin:auto 20px;"><%= render @reviews %></div>
  <%= will_paginate @reviews, :class => 'pagination pagination-info pagination-small'  %>
</div>

<%= link_to 'Back', places_path %>