<!-- Removing possible apostrophe's from the title --> 
<% str = @place.name %>
<% str = str.tr(%q{''}, '') %>
<% provide(:title, str) %>
<% if @place.photos.first != nil %>
  <% meta og: {
      title: str,
      description: @place.description,
      image: @place.photos.first.image_url.to_s
    }
  %>
<% else %>
  <% meta og: {
      title: str,
      description: @place.description,
    }
  %>
<% end %>
<div id = "show" data-role="page">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<%= render 'layouts/flash_message' %>
		<ul data-role="listview" data-inset="false">
		    <li>
		    		<h2><%= @place.name %></h2>
			    	<%= content_tag "div", id: "review_value", data: {rating: @place.rating} do %>  
						<div id="star_value">
						</div>

					<% end %>
					<font size='1'>Kid-Friendly Rating (<%= pluralize(@place.reviews.count, 'Review') %>)</font><br>
			</li>
			<% if @place.votes > 0 %>
				<li>
					<small><%= pluralize @place.votes, "Joeysearcher" %>&nbsp&nbsp<%= image_tag('heart.png', id: 'like', size: '20x20') %>&nbsp this spot!</small>
				</li>
			<% end %>
			<li>
				<font size='2'><%= Category.find(@place.category_id).name %> </font>
			</li>
			<li>
				<small><%= @place.street %>, <%= @place.city %>, <%= @place.state %> <%= @place.zip_code %></small>
			</li>
		    <li><center>
			    	<%= content_tag "div", class: 'google-maps', id: "map", style: 'width: 90%; height: 200px; max-width: 400px', data: { coords: @map_coords_hash.to_json} do %>
					<% end %>
				</center>
			</li>
			<li>
				<% address = "#{@place.street}, #{@place.city}, #{@place.state} - #{@place.zip_code}" %>
        		<strong><%= link_to "Directions", "http://maps.google.com/maps?saddr=&daddr=#{address}", target: '_blank' %></strong>
			</li>
			<% unless @place.phone_num.blank? %>
				<li>
					<strong><%= number_to_phone @place.phone_num, area_code: true %></strong>
				</li>
			<% end %>
			<% unless @place.website.blank? %>
				<li>
					<strong><%= link_to "Website", @place.website, target: '_blank' %></strong>
				</li>
			<% end %>
			<% unless @place.category_id == Category.where(name: "Events")[0].id %>
		    	<li>
		    		<h4>Price: <%= intToPrice(@place.price) %></h4>
				</li>
			<% else %>
				<% unless @place.event_price.blank? %>
					<li>
		    		<h4><%= "Event Price: " + number_to_currency(@place.event_price) %></h4>
					</li>
				<% end %>
			<% end %>
		</ul>
		<div data-role="collapsibleset" data-inset="false">
			<% unless @place.description.blank? %>
			    <div data-role="collapsible" data-inset="false">
			    	<h4><%= "Description: " + @place.description %></h4>
			        	<small><%= simple_format(@place.description) %></small>
			    </div>
			<% end %>

		    <% if @place.category_id == Category.where(name: "Events")[0].id %>
		    	<div data-role="collapsible" data-inset="false">
		    		<% if @place.event_end_date.blank? %>
		    			<h4><%= "Event Dates: " + @place.event_start_date.strftime("%B %d, %Y") + " - -- " %> </h4>
		    		<% else %>
		    			<h4><%= "Event Dates: " + @place.event_start_date.strftime("%B %d, %Y") + " - " +  @place.event_end_date.strftime("%B %d, %Y") %> </h4>
		    		<% end %>
		    		<ul data-role="listview" data-inset="false">
						<% unless @place.event_start_date.blank? %>
							<li><strong>Start Date:</strong>&nbsp<%= @place.event_start_date.strftime("%B %d, %Y") %></li>
						<% end %>

						<% unless @place.event_end_date.blank? %>
							<li><strong>End Date:</strong>&nbsp<%= @place.event_end_date.strftime("%B %d, %Y") %></li>
						<% end %>
						<% unless @place.recurrence_id.blank? %>
							<li><strong>How Often?:</strong>&nbsp<%= Recurrence.find(@place.recurrence_id).name %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

		    <% @features = PlacesFeature.where(place_id: @place.id) %>
			<% unless @place.category_id == Category.where(name: "Events")[0].id ||  @features.blank? %>
			    <div data-role="collapsible" data-inset="false">
			    	<h4>
			    		<%= "Kid Features:" %>
			    		<% @features.each_with_index do |features, index| %>
					        <% feature = Feature.find(features.feature_id) %>
					 	    <% if index < @features.size - 1 %>
					 	    	<%= feature.name + ',' %>
					 	    <% else %>
					 	    	<%= feature.name %>
					 	    <% end %>
					    <% end %>
					</h4>
			    	<ul data-role="listview" data-inset="false">
						<% for features in @features %>
					        <% feature = Feature.find(features.feature_id) %>
					 	    <li><%= feature.name %></li>
					    <% end %>
			        </ul>
			    </div>
		    <% end %>
		    <div data-role="collapsible" data-inset="false">
		    	<% @ages = PlacesAgeGroup.where(place_id: @place.id).order("age_group_id ASC") %>
		    	<h4>
		    		<%= "Ages (in years):" %>
		    		<% @ages.each_with_index do | ages, index | %>
		    			<% age_group = AgeGroup.find(ages.age_group_id) %>
		    			<% if index < @ages.size - 1 %>
				 	    	<%= age_group.group_name + ',' %>
				 	    <% else %>
				 	    	<%= age_group.group_name %>
				 	    <% end %>
		    		<% end %>
		    	</h4>
		    	<ul data-role="listview" data-inset="false">
		    		<% for ages in @ages %>
			          <% age_group = AgeGroup.find(ages.age_group_id) %>
			          <li><%= age_group.group_name %>&nbsp(<%= age_group.description %>)</li>
			        <% end %>
		        </ul>
		    </div>

		    <% @businessHours = BusinessHour.where(place_id: @place.id) %>
    		<% unless @businessHours.blank? %>
			    <div data-role="collapsible" data-inset="false">
			    	<h4>Hours</h4>
		    		<ul data-role="listview" data-inset="true">
		    			<% for bh in @businessHours %>
		    				<li>
		    					<h5><%= bh.day %>:</h5>
								<% if bh.closed %>
									<b><%= "Closed" %></b>
								<% else %>
									<%= bh.open_time.to_time.strftime("%I:%M %p")  %> - <%= bh.close_time.to_time.strftime("%I:%M %p") %> 
								<% end %>
							</li>
						<% end %>
					</ul>	        
			    </div>
			<% end %>	       
		</div>

		<center>
			<div data-role="controlgroup" data-type="vertical" data-mini="false">
			    <%= link_to("Write a Review", new_place_review_path(@place.id), class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-comment", "data-ajax" => "false") %>
			    <% if current_user && !current_user.voted_place_up_yet?(@place) %>
					<div id="up-<%= @place.id %>" >
					  <%= link_to "Like!", vote_place_path(@place.id, value: 1), :id => "up_vote-" + @place.id.to_s, method: "post", "data-ajax" => "false", class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-heart", "data-ajax" => "false" %>
					</div>
					<div id="down-<%= @place.id %>" style="display: none;" >
					  <%= link_to "Unlike", vote_place_path(@place.id, value: 0), :id => "down_vote-" + @place.id.to_s, method: "post", "data-ajax" => "false",  class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete" %>
					</div>
				<% else %>
					<% if current_user %>
					  <div id="down-<%= @place.id %>" >
					    <%= link_to "Unlike", vote_place_path(@place.id, value: 0), :id => "down_vote-" + @place.id.to_s, method: "post", "data-ajax" => "false",  class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete", "data-icon" => "delete" %>
					  </div>
					  <div id="up-<%= @place.id %>" style="display: none;" >
					    <%= link_to "Like!", vote_place_path(@place.id, value: 1), :id => "up_vote-" + @place.id.to_s, method: "post", "data-ajax" => "false", class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-heart", "data-ajax" => "false" %>
					  </div>
					<% end %>
				<% end %>
			    <%= link_to("View/Add Photos", place_photos_path(@place), class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-camera", "data-ajax" => "false") %>
			    <%= link_to("Edit Info", edit_place_path(@place), class: "ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-edit", "data-ajax" => "false") %>
			</div>
		</center>
		<br>
		<%= will_paginate @reviews, 
		    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
		    previous_label: 'Prev',
		    next_label: 'Next'
		  %>
		<br>
		<div data-role="listview" data-inset="false">
			<li data-role="list-divider">
				Reviews
			</li>
			<% if @reviews.empty? %>
				<li>
					There are no reviews yet, be the first!
				</li>
			<% end %>
				<%= render @reviews %></div>
		</div>
		<%= will_paginate @reviews, 
		    renderer: WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer,
		    previous_label: 'Prev',
		    next_label: 'Next'
		  %>
		<br>
		<center>
 			<%= link_to "Full Site", root_path(:mobile => 0), "data-ajax" => "false", :class => "ui-btn ui-btn-inline" %>
 		</center>
	</div>

	<%= javascript_include_tag "mobile/mobile" %>
	<%= javascript_include_tag "mobile/maps.mobile" %>
	<%= javascript_include_tag "mobile/places.mobile" %>
</div>
