<% if @value == '0' %>
	$("#down-<%= @place.id %>").hide();
	$("#up-<%= @place.id %>").show();
<% else %>
	$("#up-<%= @place.id %>").hide();
	$("#down-<%= @place.id %>").show();
<% end %>
<% if @place.votes > 0 || @value == '1' %>
	$("div.votes-<%= @place.id %>").show();
	$("div.votes-<%= @place.id %>").html(
		"<br> <small><%= pluralize @place.votes, 'Joeysearcher' %>&nbsp&nbsp<img src='/assets/heart.png' id='like'>&nbsp this spot!</small>"
    );
<% else %>
	$("div.votes-<%= @place.id %>").hide();
<% end %>