<% if flash.any? %>
	<div data-role="collapsible" data-inset="false" data-collapsed="false">
	    <% flash.each do |key, value| %>
	      	<h4><%= key.to_s %></h4>
	      	<% if key.to_s == "error" || key.to_s == "alert" %>
	        	<font color="red"><p><%= value %></p></font>
	        <% else %>
	        	<font color="green"><p><%= value %></p></font>
	        <% end %>
	      
	    <% end %>
	</div>
	<br>
<% end %>