<div data-role="panel" id="panel-menu" data-position="right" data-display="overlay" data-theme="a" class="ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-b ui-panel-open">
    <div class="ui-panel-inner">
    	<ul data-role="listview">
		    <li data-icon='home'><%= link_to "Home", root_path, "data-ajax" => "false" %></li>
		    <li data-icon='search'><%= link_to "Advanced Search", places_path, "data-ajax" => "false" %></li>
		    <li data-icon='location'><%= link_to "Add a Joey Spot", new_place_path, "data-ajax" => "false" %></li>
		    <li data-icon='mail'><%= link_to "Feedback", help_path %></li>
		    <li data-icon='info'><%= link_to "About", about_path %></li>
		    <% if user_signed_in? %>
		    	<li data-icon='user'><%= link_to "Profile", current_user, "data-ajax" => "false" %></li>
		    	<li data-icon='action'><%= link_to "Sign Out", destroy_user_session_path, method: "delete", "data-ajax" => "false" %></li>
		    <% else %>
		    	<li data-icon='user'><%= link_to "Log In", new_user_session_path, "data-ajax" => "false" %></li>
		    	<li data-icon='heart'><%= link_to "Sign Up", new_user_registration_path, "data-ajax" => "false" %></li>
		    <% end %>
		</ul>
		<br>

    	<a href="" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext">
    	</a>
    </div>
</div>
<div data-role="panel" id="panel-search" data-position="left" data-display="overlay" data-theme="a" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-b ui-panel-open">
    <div class="ui-panel-inner">
		<%= form_tag places_path, method: 'get', 'data-ajax' => 'false', id: "searchForm" do %>
		  <%= text_field_tag :name, params[:name], placeholder: "Search for" %>
		  <%= text_field_tag :near, params[:near], placeholder: "Near" %>
		  <br>
		  <a href="#" id="searchCurrentLocation" data-role="button" data-inline="true" data-icon="star" >Current Location</a>
		  <%= button_tag("Search", type: "submit", class: "ui-btn ui-corner-all ui-icon-search ui-btn-icon-left") %>
		<% end %>
		<br>
    	<a href="" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext">
    	</a>
    </div>
</div>
<div data-role="header">
	<a href="#panel-search" data-iconpos="notext" data-icon="search"></a>
	<center>
		<%= link_to image_tag("joey.png", alt: "Joey Search", :id => "mobile_logo"), root_path, "data-ajax" => "false" %>
	</center>
	<a href="#panel-menu" data-iconpos="notext" data-icon="bars"></a>
</div>
<script>

    $( document ).on( "click", "#searchCurrentLocation", function() {
      currentLocation();
    });

    function successFunction(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        $('#near').val(lat + ", " + lon);
    }

    function errorFunction(error) {
          switch (error.code) {
          case error.PERMISSION_DENIED:
              alert("Joeysearch was not allowed to use your current location");
              break;

          case error.POSITION_UNAVAILABLE:
              FAIL("Joeysearch could not find your current location");
              break;

          case error.TIMEOUT:
              FAIL("Joeysearch timed out retrieving your current location");
              break;

          case error.UNKNOWN_ERROR:
              FAIL("Joeysearch encountered an unknown error while retrieving your current location");
              break;
          }
          return;
      }

      function currentLocation() {
        if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(successFunction, errorFunction)
	    }
      }
</script>