<header id="header" class="navbar">
	<div class="navbar-inner">
   		<div class="navbar-container">
        <div class="span2" id="logobox">
   			  <%= link_to image_tag("joey.png", alt: "Joey Search"), root_path, 'data-no-turbolink' => true %>
        </div>
        <div class="span7" id="headersearchform">
          <%= render "layouts/search_form" %>
          <ul class="nav navbar-nav ">
            <li><%= link_to "Home",  root_path, 'data-no-turbolink' => true %></li>
            <li><%= link_to "Advanced Search", places_path %></li>
            <li><%= link_to "Add Joey Spot",  new_place_path, 'data-no-turbolink' => true %></li>
            <!--[if lte IE 9]>
              <li><%= link_to "Help", help_path %></li>
            <![endif]-->
            <![if (gt IE 9) | !(IE)]>
              <li><%= link_to "Feedback", help_path %></li>
            <![endif]>  
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
        <div class="span3">
     			<nav>
     				<% if user_signed_in? %>
     					<ul class="nav pull-right">
     						<li><%= link_to "Profile", current_user %></li>
     						<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
     					</ul>
  				  <% else %>
  	       			<ul class="nav pull-right">
  	       				<li><%= link_to "Log In",  new_user_session_path %></li>
  	       	 			<li><%= link_to "Sign Up", new_user_registration_path %></li>
  	      			</ul>
  	      	<% end %>
     			</nav>
        </div>
   		</div>
	</div>
</header>