
<%= form_tag places_path, method: 'get', class: "navbar-search pull-left" do %>
	<!--[if lte IE 9]>
		Search for:
		<%= text_field_tag :name, params[:name], class: "search-query span2", placeholder: "Search for" %>
		Near:
		<%= text_field_tag :near, params[:near], class: "search-query span2", placeholder: "Near" %>
	<![endif]-->
	<![if (gt IE 9) | !(IE)]>
		<%= text_field_tag :name, params[:name], class: "search-query span3", placeholder: "Search for" %>
  		<%= text_field_tag :near, params[:near], class: "search-query span3", placeholder: "Near" %>
	<![endif]>  
	<%= button_tag(type: "submit", class: "btn small btn-by circle-item") do %>
		<i class="micon-search"></i>
	<% end %>
<% end %>